.checkbox {
  position: relative;

  display: flex;
  align-items: center;

  &__wrapper-input {
    width: 16px;
    height: 16px;
  }

  &__input {
    opacity: 0;
  }

  &__input + label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 0;

      display: block;
      width: 16px;
      height: 16px;
      margin-right: $gutter * 2;

      background-color: $c-accent;
      border-radius: 4px;
    }
  }

  &__input:checked + label::before {
    background: url("../img/icon/check.svg") no-repeat 50%;
    background-color: $c-accent;
  }

  &__text {
    color: $c-main-88;
    margin-left: 10px;
  }

  &__link {
    color: $c-accent;
    border-bottom: 1px solid $c-accent;
  }
}
