.checkbox {
  $self: &;
  display: flex;
  align-items: start;

  &__input {
    @extend .visually-hidden;
  }

  &__label {
    position: relative;
    width: var(--checkbox-label-width, 16px);
    height: var(--checkbox-label-height, 16px);
    border-radius: 4px;
    border: 1px solid #D9D9D9;
    transition: background-color .2s;
    cursor: pointer;
    flex-shrink: 0;
    background-color: #fff;

    #{$self}--size-l & {
      --checkbox-label-width: 24px;
      --checkbox-label-height: 24px;
    }

    #{$self}--has-text & {
      top: 3px;
    }
  }

  &__input + #{$self}__label {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__input:checked + #{$self}__label {
    background: $c-accent url("../img/icon/check.svg") no-repeat 50%;
    border-color: $c-accent;
  }

  &__text {
    color: $c-main-88;
    margin-left: $gutter * 2.5;
  }

  &__link {
    color: $c-accent;
    border-bottom: 1px solid $c-accent;
  }
}
