.tabs {
  display: flex;

  &__box-btn {
    max-width: 216px;
    padding-top: $gutter;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-right: 1px solid #D9D9D9;
  }

  &__btn {
    @extend .btn-reset;

    font-size: 16px;
    line-height: 24px;
    color: $c-main-88;
    text-align: right;
    padding: $gutter $gutter * 2;
    min-height: 48px;
    transition: color .2s;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &--active {
      font-weight: 600;
      color: $c-accent;
      position: relative;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: -1px;
        background-color: $c-accent;
        height: 100%;
        width: 2px;
      }
    }
  }

  &__box-content {
    padding: $gutter * 2;
    flex-grow: 1;
  }

  &__content {
    display: none;

    &--active {
      display: flex;
      flex-direction: column;
    }
  }
}
