.tabs {
  $self: &;

  display: flex;

  &--horizontal {
    flex-direction: column;
  }

  &--vertiсal {
    @media (max-width: $md) {
      flex-direction: column;
    }
  }


  &__box-btn {
   #{$self}--vertiсal & {
    width: 216px;
    padding-top: $gutter * 3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-right: 1px solid #D9D9D9;
    flex-shrink: 0;

     @media (max-width: $lg) {
       align-items: flex-start;
       width: 150px;
     }

     @media (max-width: $md) {
       flex-direction: row;
       border-right: none;
       border-bottom: 1px solid #D9D9D9;
       max-width: 100%;
       margin-bottom: $gutter * 6;
       width: auto;
     }
  }

  #{$self}--horizontal & {
    display: grid;
    grid-auto-flow: column;
    gap: $gutter * 6;
    border-right: none;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: $gutter * 4;
    width: 100%;
    max-width: 321px;
  }
 }

  &__btn {
    @extend .btn-reset;

    width: 100%;
    color: $c-main-88;
    transition: color .2s;

    #{$self}--vertiсal & {
      min-height: 48px;
      padding: $gutter * 3 $gutter * 6;
      font-size: 16px;
      line-height: 24px;
      text-align: right;

      &:not(:last-child) {
        margin-bottom: $gutter * 4;

        @media (max-width: $lg) {
          margin-bottom: $gutter * 2;
        }

        @media (max-width: $md) {
          margin-bottom: 0;
        }
      }

      @media (max-width: $lg) {
        padding: $gutter * 3;
        text-align: left;
      }

      @media (max-width: $md) {
        padding: 0 $gutter;
        text-align: center;
      }
    }

    #{$self}--horizontal & {
      padding-top: $gutter * 3;
      padding-bottom: $gutter * 3;
    }

    &--active {
      font-weight: 600;
      color: $c-accent;
      position: relative;

      &::after {
        content: "";
        display: block;
        position: absolute;

        background-color: $c-accent;
      }

      #{$self}--vertiсal &::after {
        top: 0;
        right: -1px;
        height: 100%;
        width: 2px;

        @media (max-width: $md) {
          top: 100%;
          right: 0;
          width: 100%;
          height: 2px;
        }
      }

      #{$self}--horizontal &::after {
        top: 100%;
        right: 0;
        width: 100%;
        height: 2px;
      }
    }
  }

  &__box-content {
    #{$self}--vertiсal & {
      padding: $gutter * 6;
      flex-grow: 1;

      @media (max-width: $md) {
        padding: 0;
      }
    }

    #{$self}--horizontal & {
    }
  }

  &__content {
    display: none;

    &--active {
      display: flex;
      flex-direction: column;
    }
  }
}
