.tabs {
  display: flex;

  @media (max-width: $md) {
    flex-direction: column;
  }

  &__box-btn {
    min-width: 216px;
    padding-top: $gutter;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-right: 1px solid #D9D9D9;
    flex-shrink: 0;

    @media (max-width: $lg) {
      align-items: flex-start;
    }

    @media (max-width: $md) {
      flex-direction: row;
      border-right: none;
      border-bottom: 1px solid #D9D9D9;
      max-width: 100%;
      margin-bottom: $gutter * 2;
    }
  }

  &__btn {
    @extend .btn-reset;

    width: 100%;
    min-height: 48px;
    padding: $gutter $gutter * 2;

    font-size: 16px;
    line-height: 24px;
    color: $c-main-88;
    text-align: right;
    transition: color .2s;

    &:not(:last-child) {
      margin-bottom: 16px;

      @media (max-width: $lg) {
        margin-bottom: $gutter * 0.5;
      }

      @media (max-width: $md) {
        margin-bottom: 0;
      }
    }

    &--active {
      font-weight: 600;
      color: $c-accent;
      position: relative;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: -1px;
        background-color: $c-accent;
        height: 100%;
        width: 2px;

        @media (max-width: $md) {
          top: 100%;
          right: 0;
          width: 100%;
          height: 2px;
        }
      }
    }

    @media (max-width: $lg) {
      padding: $gutter;
      text-align: left;
    }

    @media (max-width: $md) {
      padding: 0 6px;
      text-align: center;
    }
  }

  &__box-content {
    padding: $gutter * 2;
    flex-grow: 1;

    @media (max-width: $md) {
      padding: 0;
    }
  }

  &__content {
    display: none;

    &--active {
      display: flex;
      flex-direction: column;
    }
  }
}
