@import "base/reset";
@import "base/font";
@import "base/var";
@import "base/global";
@import "base/util";

// ///////////////////////////////////////// block
@import "block/container";

@import "block/button/btn";
@import "block/button/btn-primary";
@import "block/button/btn-light";
@import "block/button/btn-text";

@import "block/link/link";
// @import "block/link/link-stretched";

@import "block/list/list-reset";
// @import "block/list/list";

@import "block/header/header";
@import "block/logo";
@import "block/breadcrumb";
@import "block/title/title";
@import "block/section-header";
@import "block/table";
@import "block/table-2";
@import "block/status";
@import "block/status-return";
@import "block/status-distributor";
@import "block/filter-bar";
@import "block/product-card";

@import "block/form/form";
// @import "block/form/form-group";
// @import "block/form/form-label";
// @import "block/form/form-control";

@import "block/select/select";
@import "block/checkbox/checkbox";
@import "block/tabs/tabs";
@import "block/pagination/pagination";

@import "block/scrollbar";
@import "block/accordion";

// modals
@import "block/modal/modal";
@import "block/drawer/drawer";
@import "block/notification/notification";

@import "block/nav";
@import "block/intro";
@import "block/brands";
@import "block/categories";
@import "block/map";

// pages
@import "block/index-demo";
@import "block/registration";
@import "block/search-auto";
@import "block/chat-list";
@import "block/chat";
@import "block/orders";
@import "block/product";
@import "block/garage";
@import "block/finance";

@import "block/footer/footer";

// ///////////////////////////////////////// display
 @import "base/display";
