@import "base/reset";
@import "base/font";
@import "base/var";
@import "base/global";
@import "base/util";

// ///////////////////////////////////////// block
@import "block/container";

@import "block/button/btn";
@import "block/button/btn-primary";
@import "block/button/btn-lite";
@import "block/button/btn-text";

@import "block/link/link";
// @import "block/link/link-stretched";

@import "block/list/list-reset";
// @import "block/list/list";

@import "block/logo";
@import "block/breadcrumb";
@import "block/title/title";
@import "block/section-header";
@import "block/table";
@import "block/table-2";
@import "block/table-footer";
@import "block/status";
@import "block/status-return";
@import "block/filter-bar";
@import "block/product-cards";
@import "block/product-card";
@import "block/alert";
@import "block/tippy";
@import "block/tooltip";
@import "block/contact-link";
@import "block/tag-bar";
@import "block/tag";
@import "block/stepper";

@import "block/form/form";
// @import "block/form/form-group";
// @import "block/form/form-label";
// @import "block/form/form-control";
@import "block/form/form-number";

@import "block/select/select";
@import "block/checkbox/checkbox";
@import "block/tabs/tabs";
@import "block/tabs/tabs-2";
@import "block/pagination/pagination";
@import "block/dropdown/dropdown";

@import "block/scrollbar";
@import "block/accordion";
@import "block/action-bar";

// modals
@import "block/modal/modal";
@import "block/drawer/drawer";
@import "block/notification/notification";
@import "block/modal-order-details";

@import "block/nav";
@import "block/brands";
@import "block/categories";
@import "block/map";

// pages
@import "block/index-demo";
@import "block/registration";
@import "block/search-auto";
@import "block/chat-list";
@import "block/chat";
@import "block/orders";

@import "block/product";
@import "block/garage";
@import "block/finance";
@import "block/page-text";
@import "block/favorites";
@import "block/cart";
@import "block/details";
@import "block/archive";
@import "block/search";
@import "block/catalog-search-result";
@import "block/detail-search";

@import "block/footer/footer";

@import "block/temporarily/header/header-1";
@import "block/temporarily/header/header-2";
@import "block/temporarily/intro/intro-1";
@import "block/temporarily/intro/intro-2";

// ///////////////////////////////////////// display
 @import "base/display";
