.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  &--is-fixed {
    position: fixed;
    z-index: 200;
    //box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
  }

  &__top {
    background-color: #fff;
  }

  &__container {
    min-height: 64px;
    display: flex;
    align-items: center;

    @media (max-width: $md) {
      min-height: 46px;
    }
  }

  &__top-left {
    display: grid;
    grid-auto-flow: column;
    column-gap: 16px;
  }

  &__contacts {
    margin-left: auto;
    display: grid;
    grid-auto-flow: column;
    column-gap: $gutter * 4;

    @media (max-width: $md) {
      display: none;
    }
  }

  &__top-actions {
    display: none;

    @media (max-width: $md) {
      margin-left: auto;
      display: grid;
      grid-auto-flow: column;
      column-gap: $gutter * 1.5;
    }
  }

  &__bottom {
    background-color: $c-dark;
  }

  &__search {
    max-width: 696px;
    width: 100%;
    margin-right: $gutter * 6;

    @media (max-width: $md) {
      margin-right: 0;
      max-width: 100%;
    }
  }

  &__actions {
    margin-left: auto;
    flex-shrink: 0;

    @media (max-width: $md) {
      display: none;
    }
  }
}

.header-address {
  $self: &;
  display: grid;
  grid-auto-flow: column;
  column-gap: 8px;
  align-items: center;

  &__ico {
    width: 12px;
    height: 12px;
    color: $c-main;
    opacity: 0.45;
    transition: opacity 0.2s;

    @media (hover: hover) {
      #{$self}:hover & {
        opacity: 1;
      }
    }

    @media (max-width: $md) {
      width: 16px;
      height: 16px;
    }
  }

  &__city {
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;

    @media (max-width: $md) {
      display: none;
    }
  }
}

.header-contact {
  $self: &;
  display: flex;
  align-items: center;
  min-height: 24px;

  &__icon {
    width: 12px;
    height: 12px;
    margin-right: $gutter * 2;
    color: $c-main;
    opacity: 0.45;
    transition: opacity 0.2s;

    #{$self}:hover & {
      opacity: 1;
    }
  }

  &__text {
    font-size: 12px;
    line-height: 20px;
  }

  &--has-divider {
    padding-left: $gutter * 4;
    border-left: 1px solid $c-main-6;
  }
}

.header-search {
  $self: &;
  border-radius: 8px;
  position: relative;
  min-height: 32px;
  display: flex;

  &__dropdown {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    min-width: 110px;

    @media (max-width: $lg) {
      min-width: 32px;
    }
  }

  &__input {
    flex-grow: 1;
    background-color: #fff;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    padding-left: $gutter * 2;
    padding-right: $gutter * 10;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &::placeholder {
      color: $c-main-45;
    }
  }

  &__button {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__button-icon {
    width: 16px;
    height: 16px;
    color: $c-main;
    opacity: 0.45;
    transition: opacity 0.2s;

    #{$self}__button:hover & {
      opacity: 1;
    }
  }
}

.header-search-dropdown {
  $self: &;

  &__toggle {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $c-accent;
    width: 100%;
    padding: $gutter $gutter * 3;
    transition: background-color 0.2s;

    @media (max-width: $lg) {
      min-width: 32px;
      padding-left: $gutter;
      padding-right: $gutter;
    }

    #{$self}:hover & {
      background-color: $c-accent-dark;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    color: #fff;
  }

  &__caption {
    color: #fff;
    margin-left: $gutter * 2;

    @media (max-width: $lg) {
      display: none;
    }
  }

  &__menu {
    position: absolute;
    top: calc(100% + 4px);
    background-color: #fff;
    border-radius: 8px;
    padding: $gutter;
    box-shadow: 0 3px 6px 0 hsla(0, 0%, 0%, 0.12);
    display: flex;
    flex-direction: column;
    z-index: 100;
    opacity: 0;
    transition: 0.2s;
    visibility: hidden;
    transform: translateY(4px);

    &::before {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      height: 4px;
    }

    #{$self}:hover & {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  &__link {
    min-height: 32px;
    padding-left: $gutter * 3;
    padding-right: $gutter * 3;
    display: flex;
    align-items: center;
    color: $c-main-88;
    transition: background-color 0.2s;
    border-radius: 4px;

    &:hover {
      background-color: $c-light;
    }
  }
}

.header-actions {
  &__groups {
    display: grid;
    grid-auto-flow: column;
    column-gap: 32px;
  }

  &__group {
    color: #fff;
    display: grid;
    grid-auto-flow: column;
    column-gap: 16px;
    align-content: center;

    &:not(:first-child) {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: -16px;
        width: 1px;
        background-color: $c-light-20;
      }
    }
  }
}

.header-btn {
  $self: &;
  min-width: 32px;
  min-height: 32px;
  display: flex;
  padding: $gutter $gutter * 2;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  transition: background-color .2s;

  &:hover {
    background-color: $c-light-20;
  }

  &--accent {
    background-color: $c-accent;

    &:hover {
      background-color: $c-accent-dark;
    }
  }

  &--gray {
    background-color: $c-light-20;

    &:hover {
      background-color: $c-light-30;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    padding-left: $gutter * 2;
    padding-right: $gutter * 2;

    & > *:not(:first-child) {
      margin-left: $gutter * 2;
    }
  }

  &__ico {
    width: 16px;
    height: 16px;

    &--sm {
      width: 12px;
      height: 12px;
    }
  }

  &__caption {
    color: $c-light-80;
  }

  b {
    font-weight: 700;
  }
}

.header-btn-wallet {
  &__ico {
    display: none;

    @media (max-width: $lg) {
      display: block;
    }
  }

  &__container {
    @media (max-width: $lg) {
      display: none;
    }
  }
}

.header-user-dropdown {
  $self: &;
  position: relative;

  &__toggle {
    #{$self}:hover & {
      background-color: $c-light-30;
    }
  }

  &__menu {
    border-radius: 8px;
    background-color: #fff;
    right: 0;
    position: absolute;
    top: calc(100% + 4px);
    padding: $gutter;
    color: $c-main;
    z-index: 100;
    min-width: 183px;
    opacity: 0;
    transition: 0.2s;
    visibility: hidden;
    transform: translateY(4px);
    box-shadow: 0 3px 6px 0 hsla(0, 0%, 0%, 0.12);

    &::before {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      height: 4px;
    }

    #{$self}:hover & {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  &__link {
    min-height: 32px;
    padding-left: $gutter * 3;
    padding-right: $gutter * 3;
    display: flex;
    align-items: center;
    color: $c-main-88;
    transition: background-color 0.2s;
    border-radius: 4px;

    &:hover {
      background-color: $c-light;
    }

    &--logout {
      margin-top: $gutter * 3;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: -$gutter * 1.5;
        height: 1px;
        left: 0;
        right: 0;
        background-color: $c-main-6;
      }
    }
  }

  &__ico {
    width: 16px;
    height: 16px;
    margin-right: $gutter * 2;
  }
}
