.title {
}

h1 {
  font-size: 72px;
  line-height: 68px;
  font-weight: 600;
  color: white;

  @media (max-width: $lg) {
    font-size: 56px;
    line-height: 1.2;
  }

  @media (max-width: $md) {
    font-size: 32px;
    line-height: 1.2;
  }
}

h2 {
  font-size: 38px;
  line-height: 46px;
  font-weight: 700;
  color: $c-main;
  margin-bottom: $gutter * 2;

  @media (max-width: $lg) {
    font-size: 24px;
    line-height: 1.2;
  }

  @media (max-width: $md) {
    font-size: 20px;
    line-height: 1.2;
  }
}

h3 {
}
