.title {
  font-size: 38px;
  line-height: 46px;
  font-weight: 700;
  color: $c-main;

  @media (max-width: $lg) {
    font-size: 24px;
    line-height: 1.2;
  }

  @media (max-width: $md) {
    font-size: 20px;
  }

  &--mb {
    margin-bottom: $gutter * 6;

    @media (max-width: $md) {
      margin-bottom: $gutter * 4;
    }
  }
}

.title-2 {
  font-size: 30px;
  line-height: 38px;
  font-weight: 600;

  @media (max-width: $lg) {
    font-size: 20px;
    line-height: 1.2;
  }

  @media (max-width: $md) {
    font-size: 16px;
  }
}

.title-3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: $c-main;
}

.title-4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: $c-main-88;

  &--mb {
    margin-bottom: $gutter * 3;

    @media (max-width: $md) {
      margin-bottom: $gutter * 3;
    }
  }

  &--accent {
    color: $c-accent;
  }
}
