.contact-link {
  $self: &;
  display: flex;
  align-items: center;
  min-height: 24px;

  &__ico {
    width: 12px;
    height: 12px;
    margin-right: $gutter * 2;
    color: #fff;
    opacity: 0.45;
    transition: opacity 0.2s;

    @media (hover: hover) {
      #{$self}:hover & {
        opacity: 1;
      }
    }
  }

  &__label {
    font-size: 12px;
    line-height: 20px;
    color: #fff;
  }

  &--has-divider {
    padding-left: $gutter * 4;
    border-left: 1px solid $c-main-6;
  }
}
