.alert {
  $self: &;
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: $gutter * 2 $gutter * 3;

  &--info {
    background-color: $c-accent-light;
    border: 1px solid #91CAFF;
    color: $c-accent;
  }

  &--warning {
    background-color: #FFFBE6;
    border: 1px solid #FFE58F;
  }

  &__ico {
    margin-right: $gutter * 2;
    width: 14px;
    height: 14px;
    flex-shrink: 0;

    #{$self}--warning & {
      color: #FAAD14;
    }
  }

  &__text {
    font-size: 12px;
    line-height: 20px;
  }
}
