.badge {
  border-radius: 50em;
  min-width: 12px;
  height: 12px;
  font-size: 9px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;

  &--theme-light {
    background-color: $c-gray;
    color: $c-dark;
  }

  &--theme-dark {
    background-color: $c-main-65;
    color: $c-gray;
  }
}
