.brands {
  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(11, auto);
    grid-auto-flow: column;
    gap: 8px $gutter * 2 ;

    @media (max-width: $xl) {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(12, auto);
    }

    @media (max-width: $lg) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(15, auto);
    }

    @media (max-width: $md) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(30, auto);
    }
  }

  &__item {
    position: relative;
    padding-left: $gutter * 4;
    display: flex;
    align-items: center;
  }

  &__letter {
    position: absolute;
    top: -1px;
    left: 0;
    width: 24px;
    height: 24px;
    border: 1px solid #F0F0F0;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    line-height: 22px;
    color: $c-accent;
  }

  &__link {
    $self: &;

    font-size: 14px;
    line-height: 22px;
    color: $c-main-88;
    position: relative;


    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      transition: width .2s;
      width: 0;
      height: 1px;
      box-shadow: inset 0 -1px 0 0 $c-main-88;
      opacity: 0;
    }

    &:hover#{$self}::after {
      width: 100%;
      opacity: 1;
    }
  }
}
