.brands {
  &__list {
    height: 329px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 -$gutter * 0.5 !important;

    @media (max-width: $xl) {
      height: 450px;
    }
  }

  &__item {
    position: relative;
    width: $c-2;
    margin: 0 $gutter * 0.5 8px;
    padding-left: $gutter * 4;
    display: flex;
    align-items: center;

    @media (max-width: $xl) {
      width: $c-3;
    }
  }

  &__letter {
    position: absolute;
    top: -1px;
    left: 0;
    width: 24px;
    height: 24px;
    border: 1px solid #F0F0F0;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    line-height: 22px;
    color: $c-accent;
  }

  &__link {
    font-size: 14px;
    line-height: 22px;
    color: $c-main-88;
  }
}
