.breadcrumb {
  @extend .list-reset;

  display: flex;
  flex-wrap: wrap;
}

.breadcrumb__item {
  position: relative;

  &--current {
    color: $c-main-88;
  }
}

.breadcrumb__link {
  color: $c-main-45;
  padding-right: 22px;

  &::after {
    content: "/";
    position: absolute;
    top: 0;
    right: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 13px;
    height: 22px;

    color: $c-main-45;
  }

  &:hover {
    color: $c-main;
    text-decoration: none;
  }
}
