.breadcrumb {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumb__item {
  position: relative;

  &--current {
    color: $c-main-88;
  }
}

.breadcrumb__link {
  color: $c-main-45;
  padding-right: $gutter * 6;
  transition: color 0.2s;

  &::after {
    content: "/";
    position: absolute;
    top: 0;
    right: 5px;
    text-align: center;
    width: 13px;
    height: 22px;
    color: $c-main-45;
  }

  &:hover {
    color: $c-main;
    text-decoration: none;
  }
}
