.categories {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

    @media (max-width: $lg) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $sm) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    background-color: $bg-main;
    display: flex;
    align-items: center;
    padding: 16px 16px 16px 32px;
    border-radius: 8px;

    @media (max-width: $md) {
      padding: 8px;
    }

    @media (max-width: $sm) {
      padding-left: 16px;
    }
  }

  &__link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    max-width: 90px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    color: $c-main-88;

    @media (max-width: $sm) {
      max-width: 100%;
    }
  }
}
