.categories {
  $self: &;

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $gutter * 2;

    @media (max-width: $lg) {
      grid-template-columns: repeat(2, 1fr);
      gap: $gutter;
    }

    @media (max-width: $sm) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    background-color: $c-light;
    border-radius: 8px;
    display: flex;
    align-items: center;
  }

  &__link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px 16px 32px;

    @media (max-width: $md) {
      padding: 8px;
    }

    @media (max-width: $sm) {
      padding-left: 16px;
    }

    &:hover {
      #{$self}__img {
        scale: 1.1;
      }
    }
  }

  &__img {
    transition: .2s;
  }

  &__text {
    max-width: 90px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    color: $c-main-88;

    @media (max-width: $sm) {
      max-width: 100%;
    }
  }
}
