.chat-list {
  $self: &;

  &__header-btn {
    &:not(:last-child) {
      svg {
        fill: $c-main-88;
      }
    }

    svg {
      width: 16px;
      height: 16px;
      fill: #fff;
      margin-right: $gutter * 2;
    }
  }

  &__table-row {
    @media (max-width: $sm) {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-areas:
        "name action"
        "id data";
    }

    span {
      display: none;

      @media (max-width: $sm) {
        display: inline-block;
      }
    }
  }

  &__table-cell {
    &--id {
      min-width: 69px;

      @media (max-width: $sm) {
        grid-area: id;
        padding-top: 0;
        min-width: auto;
      }
    }

    &--name {
      width: 100%;

      @media (max-width: $sm) {
        grid-area: name;
        width: auto;
      }
    }

    &--data {
      min-width: 165px;

      @media (max-width: $sm) {
        grid-area: data;
        padding-top: 0;
        justify-self: right;
        min-width: auto;
      }
    }

    &--action {
      min-width: 176px;

      display: grid;
      grid-auto-flow: column;
      gap: $gutter * 4;

      @media (max-width: $sm) {
        grid-area: action;
        min-width: auto;
      }
    }
  }

  &__filter-bar {
    margin-bottom: $gutter * 6;
  }
}
