.chat {
  $self: &;

  &__header {
    padding-bottom: $gutter * 4;
    border-bottom: 1px solid $c-main-6;
  }

  &__tag {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $c-accent-light;
    border-radius: 4px;
    padding-left: $gutter * 2;
    padding-right: $gutter * 2;

    min-height: 22px;

    font-size: 12px;
    line-height: 20px;
    color: $c-accent;
  }

  &__header-btn {
    width: 32px;
    height: 32px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: $gutter * 2;

    svg {
      width: 16px;
      height: 16px;
      fill: $c-main-88;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: -8px;
      display: block;
      height: 100%;
      width: 1px;
      background-color: $c-main-6;
    }
  }

  &__content {
    display: grid;
    gap: $gutter * 6;
    padding: $gutter * 2;
  }

  &__form {
    display: grid;
    gap: $gutter * 6;
  }

  &__footer {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: $gutter * 4;
    align-items: center;
    justify-self: end;
    gap: $gutter * 4;
  }

  &__clip {
    position: relative;

    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: $gutter * 2;
    margin-right: $gutter * 2;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: -8px;
      display: block;
      height: 100%;
      width: 1px;
      background-color: $c-main-6;
    }
  }

  &__clip-input {
    @extend .visually-hidden;
  }

  &__clip-content {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: $gutter * 2;
    cursor: pointer;
  }

  &__clip-ico {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 32px;
    height: 32px;

    cursor: pointer;

    svg {
      width: 16px;
      height: 16px;
      fill: $c-main-88;
    }
  }

  &__closed {
    display: none;
    //display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;

    background-color: #00000026;
    border-radius: 8px;
    padding: $gutter * 2;
  }

  &__closed-text {
    font-size: 14px;
    line-height: 22px;
    color: $c-main-45;

    &--bold {
      font-weight: 600;
    }
  }
}

.chat-message {
  $self: &;

  position: relative;

  display: grid;
  gap: $gutter * 3;

  padding: $gutter * 4;
  border-radius: 8px;
  max-width: 90%;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 16px;
    height: 8px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 16px;
    height: 8px;
    background-color: #fff;
  }

  &--admin {
    background-color: $c-light;

    &::before {
      left: -12px;
      background-color: $c-light;
    }

    &::after {
      left: -16px;
      border-bottom-right-radius: 100%;
    }
  }

  &--user {
    background-color: $c-accent-light;
    left: 10%;

    &::before {
      right: -10px;
      background-color: $c-accent-light;
    }

    &::after {
      right: -16px;
      border-bottom-left-radius: 100%;
    }
  }

  &__header {
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    gap: $gutter * 2;

    @media (max-width: $sm) {
      grid-auto-flow: row;
    }
  }

  &__person {
    font-size: 12px;
    line-height: 20px;
    color: $c-main-25;

    #{$self}--admin & {
      justify-self: end;
    }

    #{$self}--user & {
      justify-self: start;
    }

    @media (max-width: $sm) {
      #{$self}--user & {
        justify-self: end;
      }
    }

    @media (max-width: $sm) {
      #{$self}--admin & {
        justify-self: start;
      }
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: $gutter * 2;

    #{$self}--admin & {
      justify-self: start;
    }

    #{$self}--user & {
      order: 1;
      justify-self: end;
    }

    @media (max-width: $sm) {
      #{$self}--user & {
        order: -1;
      }
    }
  }

  &__data {
    position: relative;
    font-size: 12px;
    line-height: 20px;
    color: $c-main-25;

    #{$self}--admin & {
      margin-left: $gutter * 2;
    }

    #{$self}--user & {
      margin-right: $gutter * 2;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      width: 4px;
      height: 4px;
      background-color: #D9D9D9;
      border-radius: 50%;
    }

    #{$self}--admin &::after {
      left: -8px;
    }

    #{$self}--user &::after  {
      right: -8px;
    }
  }

  &__name {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;

    #{$self}--admin & {
      color: $c-main-88;
    }

    #{$self}--user & {
      color: $c-accent;
      order: 1;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 22px;
    color: $c-main-45;

    #{$self}--admin & {
      justify-self: start;
    }

    #{$self}--user & {
      justify-self: end;
    }
  }

  &__img {
    display: grid;
    gap: $gutter * 2;
    max-width: 360px;
    max-height: 360px;

    #{$self}--admin & {
      justify-self: start;
    }

    #{$self}--user & {
      justify-self: end;
    }
  }
}

