.container {
  position: relative;

  width: 100%;
  margin: 0 auto;
  padding-right: $gutter * 8;
  padding-left: $gutter * 8;

  @media (max-width: 1440px) {
    padding-right: 12px;
    padding-left: 12px;
  }

  //@media (max-width: $xl) {
  //  // max-width: 960px;
  //  max-width: 95%;
  //  padding-right: 15px;
  //  padding-left: 15px;
  //}
  //
  //@media (max-width: $lg) {
  //  max-width: 725px;
  //}
  //
  //@media (max-width: $md) {
  //  // max-width: 540px;
  //  max-width: 100%;
  //  padding-right: 30px;
  //  padding-left: 30px;
  //}
  //
  //@media (max-width: $sm) {
  //  max-width: 100%;
  //  padding-right: 10px;
  //  padding-left: 10px;
  //}
}
