.dropdown-menu {
  position: absolute;
  top: calc(100% + 4px);
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  border-radius: 8px;
  background-color: #fff;
  padding: $gutter;
  color: $c-main;
  min-width: var(--dropdown-menu-width, 183px);
  transition: opacity .2s ease, transform .2s ease, visibility 0s linear .2s;
  transform: translateY(4px);
  box-shadow: 0 3px 6px 0 hsla(0, 0%, 0%, 0.12);

  &::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    height: 4px;
  }

  &__link {
    min-height: 32px;
    padding-left: $gutter * 3;
    padding-right: $gutter * 3;
    display: flex;
    align-items: center;
    color: $c-main-88;
    transition: background-color 0.2s;
    border-radius: 4px;

    @media (hover: hover) {
      &:hover {
        background-color: $c-light;
      }
    }

    &:active {
      background-color: $c-light;
    }

    &--logout {
      margin-top: $gutter * 3;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: -$gutter * 1.5;
        height: 1px;
        left: 0;
        right: 0;
        background-color: $c-main-6;
      }
    }
  }

  &__ico {
    width: 16px;
    height: 16px;
    margin-right: $gutter * 2;
  }
}
