.finance {
  $self: &;

  //Todo: Саше кнопки
  &__header-btn {
    svg {
      width: 16px;
      height: 16px;
      margin-right: $gutter * 2;

      @media (max-width: $ss) {
        display: none;
      }
    }

    &:last-child {
      svg {
        fill: #fff;
      }
    }
  }

  &__info {
    display: grid;
    gap: $gutter * 6;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 1380px) {
      grid-template-columns: 1fr;
    }

    @media (max-width: $md) {
      grid-template-columns: 1fr 1fr;
      gap: $gutter * 3;
    }

    @media (max-width: $sm) {
      grid-template-columns: 1fr;
      gap: $gutter * 3;
    }
  }

  &__left {
    grid-column: 1;
    grid-row: 1;

    @media (max-width: 1380px) {
      grid-column: 1 / 3;
      grid-row: 1;
    }

    @media (max-width: $md) {
      grid-column: 1;
      grid-row: 1;
    }

    @media (max-width: $sm) {
      grid-column: 1 / 3;
      grid-row: 1;
    }
  }

  &__right {
    grid-column: 2;
    grid-row: 1;

    @media (max-width: 1380px) {
      grid-column: 1 / 3;
      grid-row: 2;
    }

    @media (max-width: $md) {
      grid-column: 2;
      grid-row: 1;
    }

    @media (max-width: $sm) {
      grid-column: 1 / 3;
      grid-row: 2;
    }
  }

  &__bottom {
    grid-column: 1 / 3;
    grid-row: 2;

    @media (max-width: 1380px) {
      grid-row: 3;
    }

    @media (max-width: $md) {
      grid-column: 1 / 3;
      grid-row: 2;
    }

    @media (max-width: $sm) {
      grid-row: 3;
    }
  }

  &__select-wrapper {
    display: grid;
    grid-auto-flow: column;
    gap: $gutter * 2;
    align-items: center;
  }

  &__select {
    min-width: 352px;

    @media (max-width: $md) {
      min-width: 240px;
    }

    @media (max-width: $sm) {
      min-width: auto;
    }
  }
}

.finance-table-1,
.finance-table-2,
.finance-table-3 {
  tr {
    @media (max-width: $md) {
      display: grid;
      border: none;
    }

    &:first-child {
      @media (max-width: $md) {
        display: none;
      }
    }
  }

  td {
    @media (max-width: $md) {
      padding: 0;
    }

    span {
      display: none;
      color: $c-main-65;

      @media (max-width: $md) {
        display: inline-block;
      }
    }
  }
}

.finance-table-3 {
  tr {
    @media (max-width: $md) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: $gutter * 2;
      grid-template-areas:
        "data comment"
        "payment comment"
        "shipped document"
        "balance document";
      border-bottom: 1px solid $c-gray;
      padding-top: $gutter * 2;
      padding-bottom: $gutter * 3;
      grid-template-rows: auto;
    }

    @media (max-width: $sm) {
      grid-template-columns: 1fr;
      grid-template-areas:
        "data"
        "payment"
        "shipped"
        "balance"
        "comment"
        "document"
    }
  }

  &__data {
    min-width: 142px;

    @media (max-width: $md) {
      min-width: auto;
      grid-area: data;
    }
  }

  &__payment {
    @media (max-width: $md) {
      grid-area: payment;
    }
  }

  &__shipped {
    @media (max-width: $md) {
      grid-area: shipped;
    }
  }

  &__balance {
    @media (max-width: $md) {
      grid-area: balance;
    }

    &--accent {
      color: $c-text-accent;
    }

    &--bad {
      color: $c-text-bad;
    }
  }

  &__document {
    min-width: 184px;

    @media (max-width: $md) {
      min-width: auto;
      grid-area: document;
    }
  }

  &__comment {
    width: 100%;
    grid-area: comment;
  }

  &__wrapper-btn {
    display: grid;
    grid-auto-flow: column;
    gap: $gutter * 4;

    @media (max-width: $md) {
      gap: $gutter * 2;
      grid-auto-flow: row;
    }
  }

  &__download {
    font-size: 14px;
    line-height: 22px;
    color: $c-accent;
    padding-left: $gutter * 2;
    padding-right: $gutter * 2;
    border-radius: 4px;
    border: 1px solid $c-accent;
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    gap: $gutter;
    max-width: 136px;

    svg {
      width: 16px;
      height: 16px;
      fill: $c-accent;
    }
  }
}

.finance-block {
  border: 1px solid $c-gray;
  border-radius: 8px;
  padding: $gutter * 3;

  display: grid;
  gap: $gutter * 6;

  @media (max-width: $md) {
    gap: $gutter * 2;
  }
}
