// common
.footer {
  &__top {
    padding-top: $gutter * 12;
    padding-bottom: 16px;

    @media (max-width: $md) {
      padding-top: $gutter * 6;
    }
  }

  &__bottom {
    padding-top: 16px;
    padding-bottom: 16px;
    border-top: 1px solid $c-main-6;
    transition: border-color .2s;
    font-size: 12px;
    line-height: 20px;
  }

  &__copyright {
    grid-area: copy;

    @media (max-width: 1230px) {
      max-width: 340px;
      padding-right: $gutter * 4;
    }

    @media (max-width: $sm) {
      max-width: 100%;
      padding-right: 0;
    }
  }

  &__top-container {
    display: grid;
    grid-template-columns: 1fr repeat(3, 216px);
    gap: $gutter * 6;
    grid-template-areas: "company category contacts schedule";

    @media (max-width: $xl) {
      gap: $gutter * 2;
    }

    @media (max-width: $lg) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: $gutter * 5;

      grid-template-areas:
        "company category"
        "contacts schedule";
    }

    @media (max-width: $sm) {
      grid-template-columns: 1fr;
      justify-items: center;
      grid-template-areas:
        "company"
        "category"
        "contacts"
        "schedule";
    }
  }

  &__company {
    grid-area: company;
  }

  &__category {
    grid-area: category;
  }

  &__contacts {
    grid-area: contacts;
  }

  &__schedule {
    grid-area: schedule;
  }

  &__company,
  &__category,
  &__contacts,
  &__schedule,
  &__copyright {
    @media (max-width: $sm) {
      text-align: center;
    }
  }

  &__bottom-container {
    display: grid;
    grid-template-columns: 1fr repeat(3, 216px);
    gap: $gutter * 6;
    grid-template-areas: "copy privacy offer pay";
    justify-items: start;

    @media (max-width: $xl) {
      gap: $gutter * 2;
    }

    @media (max-width: $lg) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "copy privacy"
        "copy offer"
        "copy pay";
    }

    @media (max-width: $sm) {
      grid-template-columns: 1fr;
      justify-items: center;
      grid-template-areas:
        "privacy"
        "offer"
        "pay"
        "copy";
    }
  }

  &__privacy {
    grid-area: privacy;
  }
  &__offer {
    grid-area: offer;
  }

  &__pay {
    grid-area: pay;
  }
}

.footer-company {
  @media (max-width: $sm) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__list {
    margin-top: $gutter * 8;
  }

  &__item {
    font-size: 12px;

    @media (max-width: $xl) {
      display: grid;
    }

    b {
      font-weight: 600;
      color: $c-main-88;
    }
  }
}

.footer-info {
  &__title {
    margin-bottom: $gutter * 8;

    @media (max-width: $lg) {
      margin-bottom: $gutter * 2;
    }
  }

  &__subtitle {
    margin-bottom: $gutter * 2;
    font-size: 12px;
    color: $c-main-88;
  }

  &__list {
    display: grid;
    row-gap: $gutter * 2;

    &:not(:last-child) {
      margin-bottom: $gutter * 4;
    }
  }
}
