.garage {
  &__header-btn {
    svg {
      width: 16px;
      height: 16px;
      fill: #fff;
      margin-right: $gutter * 2;
    }
  }

  &__action {
    position: relative;

    margin-left: $gutter * 2;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: -8px;
      display: block;
      height: 100%;
      width: 1px;
      background-color: $c-main-6;
    }
  }

  &__info {
    display: grid;
    gap: $gutter * 6;
  }

  &__card {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 200px 1fr 1fr;
    gap: $gutter * 6;
    padding-bottom: $gutter * 6;
    border-bottom: 1px solid $c-main-6;

    @media (max-width: $lg) {
      gap: $gutter * 6;
    }

    @media (max-width: 830px) {
      grid-auto-flow: row;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      gap: 0;
    }

    @media (max-width: $sm) {
      grid-auto-flow: column;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto auto;
    }
  }

  &__car {
    @media (max-width: 830px) {
      grid-column: 2;
    }

    @media (max-width: $sm) {
      grid-column: 1;
      grid-row: 3;
    }
  }

  &__photo {
    width: 200px;
    height: 200px;

    @media (max-width: 830px) {
      grid-column: 1;
      grid-row: span 2;
    }

    @media (max-width: $sm) {
      grid-column: 1;
      width: 100%;
      height: 250px;
      grid-row: 1;
      margin-bottom: $gutter * 3;
      justify-self: center;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
  }

  &__row {
    display: flex;
    gap: $gutter * 2;
  }

  &__term {
    font-size: 14px;
    line-height: 22px;
    color: $c-main-45;
    min-width: auto;
  }

  &__value {
    font-size: 14px;
    line-height: 22px;
    color: $c-main-88;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__copy {
    margin-left: $gutter;
  }

  &__person {
    position: relative;
    padding-right: $gutter * 8;

    @media (max-width: 830px) {
      grid-column: 2;
      grid-row: 1;
    }

    @media (max-width: $sm) {
      grid-column: 1;
      grid-row: 2;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: -24px;
      height: 100%;
      width: 1px;
      background-color: $c-main-6;

      @media (max-width: 830px) {
        display: none;
      }
    }
  }

  &__edit {
    position: absolute;
    top: 0;
    right: 0;
  }
}
