.garage {
  &__header-btn {
    svg {
      width: 16px;
      height: 16px;
      fill: #fff;
      margin-right: $gutter * 2;
    }
  }

  &__action {
    width: 32px;
    height: 32px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: $gutter * 2;
    border-radius: 4px;
    transition: .2s;

    svg {
      width: 16px;
      height: 16px;
      fill: $c-main-88;
    }

    &:hover {
      background-color: $c-main-6;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: -8px;
      display: block;
      height: 100%;
      width: 1px;
      background-color: $c-main-6;
    }
  }

  &__info {
    display: grid;
    gap: $gutter * 6;
  }

  &__card {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    gap: $gutter * 6;
    padding-bottom: $gutter * 6;
    border-bottom: 1px solid $c-main-6;
  }

  &__card-left {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 200px 1fr;
    gap: $gutter * 6;
  }

  &__card-photo {
    width: 200px;
    height: 200px;

    //@media (max-width: $md) {
    //  width: 100%;
    //  height: 100%;
    //}
  }

  &__card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
  }

  &__card-info {

  }

  &__card-row {
    display: flex;
    gap: $gutter * 2;
  }

  &__card-term {
    font-size: 14px;
    line-height: 22px;
    color: $c-main-25;
    min-width: auto;
  }

  &__card-value {
    font-size: 14px;
    line-height: 22px;
    color: $c-main-88;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__card-copy {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: $gutter;

    svg {
      width: 14px;
      height: 14px;
      fill: $c-main-88;
    }
  }

  &__card-right {
    position: relative;
    padding-left: $gutter * 6;
    padding-right: $gutter * 7;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 1px;
      background-color: $c-main-6;
    }
  }

  &__card-edit {
    position: absolute;
    top: 0;
    right: 0;

    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 16px;
      height: 16px;
      fill: $c-main-88;
    }
  }
}
