.index-demo {
  padding: 30px;
  font-family: sans-serif;
  max-width: 400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -100px;

  ol {
    padding: 20px 40px;
    border: 1px dashed gray;
    border-radius: 10px;
    list-style-type: decimal;
  }

  li {
    color: #a6a6a6;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  a {
    color: #000;
    padding-bottom: 2px;
    border-bottom: 1px solid gray;
  }

  button {
    padding: 3px 12px;
    border: 1px solid gray;
    border-radius: 4px;
    color: #030B15;

    &[disabled] {
      color: lightgray;
    }
  }
}
