.intro {
  position: relative;
  background: #0A1A31BF center no-repeat url("../img/background/car-auto-service.png");
  width: 100%;
  height: 100%;
  padding: 40px 40px 20px 40px;
  border-radius: 16px;

  @media (max-width: $md) {
    padding: 20px;
  }

  & > * {
    position: relative;
    z-index: 1;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #0A1A31BF;
    border-radius: inherit;
  }

  &__title {
    width: 672px;
    padding-bottom: 32px;
    margin-bottom: $gutter * 4;

    @media (max-width: $md) {
      width: 100%;
      padding-bottom: 20px;
      margin-bottom: $gutter * 2;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      display: block;
      height: 10px;
      width: 504px;
      background-color: $c-accent;

      @media (max-width: $md) {
        width: 60%;
        height: 5px;
      }
    }
  }

  &__search-wrapper {
    position: relative;
  }

  &__search-input {
    font-size: 16px;
    line-height: 24px;

    background-color: white;
    padding: 16px 20px;
    width: 100%;
    height: 56px;
    border-radius: 8px;

    &::placeholder {
      color: black;
      opacity: 0.25;
    }

    @media (max-width: $md) {
      padding: 10px;
      font-size: 14px;
      line-height: 1.2;
      height: 40px;
    }
  }

  &__search-btn {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);

    background-color: $c-accent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 104px;
    height: 40px;
    padding: 8px 16px;
    border-radius: 4px;
    color: white;

    @media (max-width: $md) {
      width: auto;
      height: auto;
      padding: 4px;
    }
  }

  &__search-ico {
    width: 16px;
    height: 16px;
    fill: white;
  }

  &__search-text {
    margin-left: 8px;

    @media (max-width: $md) {
      display: none;
      margin-left: 0;
    }
  }

  &__search-content {
    color: white;
    opacity: 0.8;
    font-size: 12px;
    line-height: 20px;

      span {
        text-decoration: underline dotted;
        text-decoration-thickness: 8%;
        text-underline-offset: 16%;
      }
  }
}
