.intro {
  position: relative;
  background: #0A1A31BF center no-repeat url("../img/background/car-auto-service.png");
  width: 100%;
  height: 100%;
  padding: $gutter * 10 $gutter * 10 $gutter * 5 $gutter * 10;
  border-radius: 16px;

  @media (max-width: $md) {
    padding: $gutter * 5;
  }

  & > * {
    position: relative;
    z-index: 1;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #0A1A31BF;
    border-radius: inherit;
  }

  &__title {
    width: 672px;
    padding-bottom: $gutter * 8;
    margin-bottom: $gutter * 12;
    font-size: 72px;
    line-height: 68px;
    font-weight: 600;
    color: #fff;

    @media (max-width: $lg) {
      font-size: 56px;
      line-height: 1.2;
    }

    @media (max-width: $md) {
      width: 100%;
      padding-bottom: $gutter * 5;
      margin-bottom: $gutter * 6;
      font-size: 32px;
      line-height: 1.2;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      display: block;
      height: 10px;
      width: 504px;
      background-color: $c-accent;

      @media (max-width: $md) {
        width: 60%;
        height: 5px;
      }
    }
  }

  &__search-wrapper {
    position: relative;
  }

  &__search-input {
    font-size: 16px;
    line-height: 24px;

    background-color: #fff;
    padding: $gutter * 4 $gutter * 5;
    width: 100%;
    height: 56px;
    border-radius: 8px;

    &::placeholder {
      color: black;
      opacity: 0.25;
    }

    @media (max-width: $md) {
      padding: $gutter * 2;
      font-size: 14px;
      line-height: 1.2;
      height: 40px;
    }
  }

  &__search-btn {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;

    width: 104px;
    height: 40px;

    @media (max-width: $md) {
      width: auto;
      height: auto;
    }
  }

  &__search-ico {
    width: 16px;
    height: 16px;
    fill: white;
  }

  &__search-text {
    margin-left: $gutter * 2;

    @media (max-width: $md) {
      display: none;
      margin-left: 0;
    }
  }

  &__search-content {
    color: #fff;
    opacity: 0.8;
    font-size: 12px;
    line-height: 20px;
  }

  &__search-link {
    @extend .btn-reset;

    text-decoration: underline dotted;
    text-decoration-thickness: 8%;
    text-underline-offset: 16%;
  }
}
