.orders {
  &__btn-ico {
    width: 16px;
    height: 16px;
    margin-right: $gutter * 2;
  }

  &__footer {
    margin-top: $gutter * 4;
  }

  &__summary {
    margin-top: $gutter * 12;
    table-layout: fixed;
  }
}

.orders-footer {
  display: grid;
  grid-auto-flow: column;
  gap: $gutter * 6;
  align-items: center;

  @media (max-width: $lg) {
    grid-auto-flow: row;
    justify-content: center;
    gap: $gutter * 3;
  }

  &__actions {
    display: grid;
    grid-auto-flow: column;
    grid-gap: $gutter * 3;
    justify-self: start;

    @media (max-width: $lg) {
      justify-self: center;
    }
  }

  &__info {
    color: $c-main-45;
    text-align: center;
  }

  &__pagination {
    justify-self: end;

    @media (max-width: $lg) {
      justify-self: center;
    }
  }
}
