.orders {
  &__filter-bar {
    margin-bottom: $gutter * 6;
  }

  &__header-btn {
    @media (max-width: $md) {
      --btn-padding-x: #{$gutter};
    }
  }

  // //////////////// desktop
  --table-cell-last-width: 160px;

  &__address {
    width: 128px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    cursor: default;
  }

  &__summary {
    margin-top: $gutter * 12;
    table-layout: fixed;

    @media (max-width: $lg) {
      margin-top: $gutter * 6;
    }
  }
}
