.product {
  $self: &;

  &__header-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 16px;
      height: 16px;
      fill: #fff;
      margin-right: $gutter * 2;
    }
  }

  &__content {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 216px 1fr;
    gap: $gutter * 6;

    @media (max-width: $md) {
      grid-auto-flow: row;
      grid-template-columns: 1fr;
      gap: $gutter * 3;
    }
  }

  &__img-wrapper {
    width: 216px;
    height: 216px;

    @media (max-width: $md) {
      width: 100%;
      height: 100%;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
  }

  &__wrapper-info {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $c-light;
    border-radius: 8px;
    height: 154px;
  }

  &__info {
    font-size: 14px;
    line-height: 22px;
    color: $c-main-45;
  }

  &__table-row {
    grid-template-columns: repeat(3, 1fr);
  }

  &__table-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;

    svg {
      width: 14px;
      height: 14px;
      fill: $c-main-88;
    }
  }
}

