.scrollbar {
  $self: &;

  overflow: auto;
  scroll-behavior: smooth;

  &::-webkit-scrollbar-corner {
    background-color: hsla(0, 0%, 100%, 0);
  }

  &--is-fixed {
    margin-right: -$gutter * 0.5;

    overflow-y: scroll;
  }

  &--vertical {
    overflow-x: hidden;
    overflow-y: auto;
  }

  &--horizontal {
    overflow-x: auto;
    overflow-y: hidden;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $c-main-15;
    transition: background-color .2s;

    &:hover {
      background-color: $c-main-25;
    }
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 4px;
  }
}
