.search {
  &__template {
    display: grid;
    grid-template-columns: 336px 1fr;
    gap: $gutter * 6;
    align-items: start;

    @media (max-width: $xl) {
      grid-template-columns: 1fr;
    }
  }

  &__content {
    display: grid;

    gap: $gutter * 6;
    min-width: 0
  }

  &__info {
    justify-self: start;
  }

  &__result {
    min-width: 0;
  }

  &__result-title {
    display: flex;
    align-items: center;
    margin-bottom: $gutter * 2;

    svg {
      width: 12px;
      height: 12px;
      margin-right: $gutter * 3;
      color: $c-main-45;
    }
  }

  &__table {
    --table-cell-last-width: 182px;
  }

  &__form-number {
    width: 70px;

    @media (max-width: $md) {
      width: 100px;
    }
  }
}

.search-filter {
  &__title {
    margin-bottom: $gutter * 2;
  }

  &__group {
    background-color: $c-light;
    padding: $gutter * 6;
    border-radius: 8px;
  }

  &__group-title {
    margin-bottom: $gutter * 6;
  }

  &__list {
    display: grid;
    gap: $gutter * 2;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__checkbox {

  }

  &__price {
    margin-left: auto;
    color: $c-main-65;
    font-size: 12px;
  }

  &__btn {
    margin-top: $gutter * 4;
    width: 100%;
  }
}
