.section-header {
  display: grid;
  grid-auto-flow: column;
  gap: $gutter * 4;
  align-content: center;

  @media (max-width: $md) {
    grid-auto-flow: row;
  }

  &--mb {
    margin-bottom: $gutter * 6;

    @media (max-width: $md) {
      margin-bottom: $gutter * 4;
    }
  }

  &__group {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: $gutter * 4;
    align-items: center;

    &:first-child {
      justify-self: start;
    }

    &:last-child {
      justify-self: end;

      @media (max-width: $md) {
        justify-self: start;
      }

      @media (max-width: $xs) {
        justify-self: auto;
      }
    }
  }
}
