.status-return {
  width: 16px;
  height: 16px;
  transition: color .2s;
  display: block;

  &--standard {
    color: $c-return-status-1;

    &:hover {
      color: $c-return-status-1-hover;
    }
  }

  &--special {
    color: $c-return-status-2;

    &:hover {
      color: $c-return-status-2-hover;
    }
  }

  &__svg {
    width: 100%;
    height: 100%;
  }
}
