.table {
  // элементы со следующими классами, создаются динамически
  // table__floating-table, table__floating-table-row, table__floating-table-col
  position: relative;

  &__scrollbar {
    padding-bottom: 2px;
    overflow-y: auto;
  }

  &__inner {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }

  th,
  td {
    padding: $gutter * 2 $gutter * 4;
    vertical-align: middle;
    font-size: 12px;
    line-height: 16px;
    max-width: var(--table-col-max-width , 200px);
    height: 54px;
    display: table-cell;

    @media (max-width: $md) {
      padding-left: $gutter * 2;
      padding-right: $gutter * 2;
    }
  }

  th,
  &__floating-table-row:first-child {
    color: $c-main-65;
    background-color: $c-main-2;
  }

  tr {
    border-bottom: 1px solid $c-gray;
  }

  &__actions {
    display: inline-grid;
    grid-auto-flow: column;
    column-gap: $gutter * 4;
    align-items: center;
  }

  &__cell-slim {
    width: 0;
  }

  &__cell-100 {
    min-width: 100px
  }

  th:last-child,
  td:last-child,
  &__floating-table {
    width: var(--table-cell-last-width);
  }

  &__floating-table {
    position: absolute;
    top: 0;
    right: -1px;
    background-color: #fff;
    box-shadow: -8px 0px 5px -5px rgba(0, 0, 0, 0.12);

    @media (max-width: $sm) {
      display: none;
    }
  }
}

.table-dropdown {
  &__inner {
    display: flex;
    align-items: center;
  }

  &__trigger {
    margin-left: $gutter * 2;
    --btn-light-ico-fill: #{$c-main-45};
  }

  &__content {
    display: none;
  }
}
