.table {
  line-height: 16px;

  &__scrollbar {
    padding-bottom: 2px;
    overflow-y: auto;
  }

  &__inner {
    position: relative;
  }

  th,
  td {
    padding: $gutter * 2 $gutter * 4;
    vertical-align: middle;
    font-size: 12px;
    max-width: var(--table-td-max-width , 300px);
  }

  th {
    color: $c-main-45;
  }

  tr {
    &:not(:first-child) {
      border-bottom: 1px solid $c-gray;
    }
  }

  th {
    background-color: $c-light;
  }

  &__actions {
    display: grid;
    grid-auto-flow: column;
    column-gap: $gutter * 4;
    align-items: center;
  }

  &__address {
    width: 128px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    cursor: default;
  }
}
