.table {
  // элементы со следующими классами, создаются динамически
  // table__floating-table, table__floating-table-row, table__floating-table-col
  position: relative;

  &__scrollbar {
    padding-bottom: 2px;
    overflow-y: auto;
  }

  &__inner {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }

  th,
  td {
    padding: $gutter * 2 $gutter * 4;
    vertical-align: middle;
    font-size: 12px;
    line-height: 16px;
    max-width: var(--table-col-max-width , 200px);
    height: 54px;
    display: table-cell;

    @media (max-width: $md) {
      padding-left: $gutter * 2;
      padding-right: $gutter * 2;
    }
  }

  th,
  &__floating-table-row:first-child {
    color: $c-main-65;
    background-color: $c-main-2;
  }

  tr {
    border-bottom: 1px solid $c-gray;
  }

  &__actions {
    display: inline-grid;
    grid-auto-flow: column;
    column-gap: $gutter * 4;
    align-items: center;
  }

  &__cell-narrow {
    padding-left: $gutter * 2 !important;
    padding-right: $gutter * 2 !important;
  }

  &__cell-slim {
    width: 0;
  }

  &__cell-min-100 {
    min-width: 100px
  }

  &__cell-min-150 {
    min-width: 150px
  }

  th:last-child,
  td:last-child,
  &__floating-table {
    width: var(--table-cell-last-width);
  }

  &__floating-table {
    position: absolute;
    top: 0;
    right: -1px;
    background-color: #fff;
    box-shadow: -8px 0px 5px -5px rgba(0, 0, 0, 0.12);

    @media (max-width: $sm) {
      display: none;
    }
  }
}

.table-dropdown {
  position: relative;
  display: inline-flex;

  &__inner {
    display: flex;
    align-items: center;
  }

  &__trigger {
    margin-left: $gutter * 2;
    --btn-light-ico-fill: #{$c-main-25};
  }

  &__content {
    font-size: 14px;
    line-height: 22px;
    position: absolute;
    top: calc(100% + 4px);
    right: 0;
    width: 248px;
    background-color: #fff;
    box-shadow: 0 3px 6px 0 hsla(0, 0%, 0%, 0.12);
    border-radius: 6px;

    opacity: 0;
    transform: scaleY(0.8);
    transform-origin: top;
    transition: opacity 0.15s linear, transform 0.15s linear;
    pointer-events: none;

    &--visible {
      opacity: 1;
      transform: scaleY(1);
      pointer-events: auto;
    }
  }

  &__select {
    padding: $gutter * 2;
  }

  &__actions {
    padding: $gutter * 2;
    border-top: 1px solid $c-main-6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $gutter * 2;
  }
}

.table-head-info {
  display: flex;
  align-items: center;
  $self: &;

  &__ico {
    color: $c-main-25;
    margin-left: $gutter * 3;
    width: 14px;
    height: 14px;
    transition: color .2s;
    flex-shrink: 0;

    &:hover {
      color: $c-main-45;
    }
  }
}

.table-cel-info {
  display: flex;
  align-items: center;
  $self: &;

  &__ico {
    color: $c-main-45;
    transition: color .2s;
    width: 16px;
    height: 16px;
    margin-left: $gutter * 4;
    flex-shrink: 0;

    &:hover {
      color: $c-main-65;
    }
  }
}

.table-btn {
  width: 16px;
  height: 16px;
  transition: color .2s;
  display: block;
  color: $c-main;

  &:hover {
    color: $c-main-65;
  }

  &__ico {
    transition: color .2s;
    width: 100%;
    height: 100%;
  }
}
