.table {
  // элементы со следующими классами, создаются динамически
  // table__floating-table, table__floating-table-row, table__floating-table-col
  position: relative;

  &__scrollbar {
    padding-bottom: 2px;
    overflow-y: auto;
  }

  &__inner {
    border-collapse: collapse;
    border-spacing: 0;
  }

  th,
  td,
  &__floating-table-cell {
    padding: $gutter * 2 $gutter * 4;
    vertical-align: middle;
    font-size: 12px;
    line-height: 16px;
    max-width: var(--table-col-max-width , 250px);

    @media (max-width: $md) {
      padding-left: $gutter * 2;
      padding-right: $gutter * 2;
    }
  }

  th,
  &__floating-table-row:first-child {
    color: $c-main-65;
    background-color: $c-light;
  }

  tr:not(:first-child),
  &__floating-table-row:not(:first-child){
    border-bottom: 1px solid $c-gray;
  }

  &__actions {
    display: grid;
    grid-auto-flow: column;
    column-gap: $gutter * 4;
    align-items: center;
  }

  &__cell-address,
  &__floating-table {
    width: 160px;
  }

  &__address {
    width: 128px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    cursor: default;
  }

  &__floating-table {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    box-shadow: -8px 0px 5px -5px rgba(0, 0, 0, 0.12);

    @media (max-width: $sm) {
      display: none;
    }
  }
}
