.tag-bar {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$gutter;
  margin-right: -$gutter;
  margin-top: -$gutter * 2;

  > * {
    margin-left: $gutter;
    margin-right: $gutter;
    margin-top: $gutter * 2;
  }
}
