.tooltip-statistic {
  display: grid;
  gap: $gutter * 2;

  &__indicator {
    position: relative;
    padding-left: $gutter * 4;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }

    &--1 {
      &::before {
        background-color: $c-return-status-1;
      }
    }

    &--2 {
      &::before {
        background-color: $c-return-status-1-hover;
      }
    }

    &--3 {
      &::before {
        background-color: $c-return-status-2;
      }
    }

    &--4 {
      &::before {
        background-color: #FF7875;
      }
    }

    &--5 {
      &::before {
        background-color: $c-status-rejected;
      }
    }
  }
}

.tooltip-status {
  display: grid;
  gap: $gutter * 2;

  &__title {
    font-weight: 600;
  }

  &__text {
    color: $c-main-45;
  }

  &__procent {
    display: inline-block;
    border-radius: 4px;
    background-color: #F6FFED;
    border: 1px solid #B7EB8F;
    color: $c-text-accent;
    min-width: 40px;
    text-align: center;
  }
}
