.product-cards {
  display: grid;
  row-gap: $gutter * 4;

  &__list {
    display: grid;
    gap: $gutter * 4;
  }

  &__show-more {
    justify-self: center;

    @media (max-width: $xs) {
      width: 100%;
    }
  }
}
