.form {
  $self: &;

  display: flex;
  flex-direction: column;

  &__top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $gutter * 12;

    @media (max-width: $xl) {
      grid-template-columns: 1fr;
      gap: $gutter * 6;
      align-self: center;
    }

    @media (max-width: $xl) {
      align-self: flex-start;
    }

    @media (max-width: $md) {
      width: 100%;
    }
  }

  &__bottom {
    display: grid;
    grid-template-columns: 1fr 549px;
    gap: $gutter * 3;

    padding-top: $gutter * 6;
    margin-top: $gutter * 6;
    border-top: 1px solid #D9D9D9;

    &--column {
      grid-template-columns: 1fr;
      align-self: start;
      gap: $gutter * 6;
      max-width: 552px;

      @media (max-width: $xl) {
        gap: $gutter * 3;
        max-width: 100%;
      }
    }

    @media (max-width: $xl) {
      grid-template-columns: 1fr;
      align-self: flex-start;
    }

    @media (max-width: $md) {
      width: 100%;
    }
  }

  &__column {
    @media (max-width: $xl) {
      min-width: 530px;
      width: 100%;
    }

    @media (max-width: $md) {
      min-width: auto;
    }
  }

  &__column + &__column {
    position: relative;

    @media (max-width: $xl) {
      padding-top: $gutter * 6;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: -$gutter * 6;
      background-color: #D9D9D9;
      width: 1px;
      height: 100%;

      @media (max-width: $xl) {
        width: 100%;
        height: 1px;
        left: 0;
      }
      }
  }

  &__title {
    margin-bottom: $gutter * 6;
  }

  &__wrapper-input {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: $gutter * 4;
    }

    @media (max-width: $md) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__label {
    color: $c-main-88;
    position: relative;
    margin-right: $gutter * 3;
    min-width: 200px;

    @media (max-width: $md) {
      padding-left: $gutter * 3;
      margin-bottom: $gutter * 2;
      min-width: 100%;
    }

    span {
      color: $c-accent;
      padding-left: $gutter;
    }
  }

  &__btn {
    width: 100%;
    border-radius: 8px;
  }

  &__radio-actions {
    display: grid;
    gap: $gutter * 3;
  }
}

.form-input,
.form-textarea {
  padding: $gutter $gutter * 3;
  color: $c-main-88;

  border: 1px solid #D9D9D9;
  border-radius: 6px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 #00000005;
  transition: border-color 0.2s ease;

  &:disabled {
    background-color: #0000000A;
  }

  &::placeholder {
    color: $c-main-45;
  }

  &:focus, &:not(:disabled):hover {
    border-color: $c-accent;
    box-shadow: 0 0 0 2px $c-accent-light;
  }

  @media (max-width: $md) {
    min-width: 100%;
  }
}

.form-input-tail {
  $self: &;

  padding: $gutter $gutter * 3;
  color: $c-main-88;

  border: 1px solid #D9D9D9;
  border-radius: 6px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 #00000005;
  transition: border-color 0.2s ease;

  display: grid;
  grid-auto-flow: column;
  gap: $gutter * 2;

  &--disabled {
    background-color: #0000000A;
  }

  &:focus, &:not(#{$self}--disabled):hover {
    border-color: $c-accent;
    box-shadow: 0 0 0 2px $c-accent-light;
  }

  &__input {
    &::placeholder {
      color: $c-main-45;
    }
  }

  &__label {
    font-size: 14px;
    line-height: 22px;
    color: $c-main-88;

    justify-self: end;

    #{$self}--disabled & {
      color: $c-main-25;
    }
  }
}

.form-textarea {
  min-height: 54px;
  resize: vertical;
}

.form-file {
  $self: &;

  position: relative;

  border: 1px dashed #D9D9D9;
  cursor: pointer;
  transition: background-color 0.2s ease;

  min-height: 78px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #0000000A;
  }

  &:active {
    background-color: #00000005;
  }

  &--bg {
    background-color: #00000005;
  }

  &__input {
    @extend .visually-hidden;
  }

  &__content {
    font-size: 14px;
    line-height: 22px;
    color: $c-main-88;
    text-align: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    #{$self}--bg & {
      color: $c-main-25;
    }
  }
}

.form-file-2 {
  $self: &;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    @extend .visually-hidden;
  }

  &__content {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__action {
    font-size: 14px;
    line-height: 22px;
    color: $c-main-88;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -24px;
      display: block;
      width: 16px;
      height: 16px;
      background: url("../img/icon/upload.svg") no-repeat 50%;
    }
  }

  &__info {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: $gutter * 2;
    padding: $gutter * 2;
  }

  &__img {
    width: 48px;
    height: 48px;
    object-fit: cover;
  }

  &__text {
    font-size: 14px;
    line-height: 22px;
    color: $c-accent;
  }

  &__delete {
    svg {
      fill: $c-main-45;
    }
  }
}

.form-radio {
  position: relative;

  input {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;

    &:checked + label::before {
      background-color: $c-accent;
      box-shadow: inset 0 0 0 3px #fff;
      border: 1px solid $c-accent;
    }

    &:not(:disabled):not(:checked) + label:hover::before {
      border-color: $c-accent;
    }

    &:disabled + label::before {
      background-color: $c-main-25;
      box-shadow: inset 0 0 0 3px $c-light;
    }
  }

  label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      background-color: #fff;
      border: 1px solid #D9D9D9;
      border-radius: 50%;
      transition: border-color .2s;
    }
  }
}

.form-date-range {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    display: block;
    width: 16px;
    height: 16px;
    background: url("../img/icon/calendar.svg") no-repeat 50%;
  }
}
