.form {
  display: flex;
  flex-direction: column;

  &__top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $gutter * 4;

    @media (max-width: $xl) {
      grid-template-columns: 1fr;
      gap: $gutter * 2;
      align-self: center;
    }

    @media (max-width: $xl) {
      align-self: flex-start;
    }

    @media (max-width: $md) {
      width: 100%;
    }
  }

  &__bottom {
    display: grid;
    grid-template-columns: 1fr 549px;
    gap: $gutter;

    padding-top: $gutter * 2;
    margin-top: $gutter * 2;
    border-top: 1px solid #D9D9D9;

    &--column {
      grid-template-columns: 1fr;
      align-self: start;
      gap: $gutter * 2;
      max-width: 552px;

      @media (max-width: $xl) {
        gap: $gutter;
      }
    }

    @media (max-width: $xl) {
      grid-template-columns: 1fr;
      align-self: flex-start;
    }

    @media (max-width: $md) {
      width: 100%;
    }
  }

  &__column {
    @media (max-width: $xl) {
      min-width: 530px;
      width: 100%;
    }

    @media (max-width: $md) {
      min-width: auto;
    }
  }

  &__column + &__column {
    position: relative;

    @media (max-width: $xl) {
      padding-top: $gutter * 2;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: -$gutter * 2;
      background-color: #D9D9D9;
      width: 1px;
      height: 100%;

      @media (max-width: $xl) {
        width: 100%;
        height: 1px;
        left: 0;
      }
      }
  }

  &__wrapper-input {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    @media (max-width: $md) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__label {
    color: $c-main-88;
    position: relative;
    margin-right: $gutter;

    @media (max-width: $md) {
      padding-left: $gutter;
      margin-bottom: $gutter * 0.5;
    }

    span {
      color: $c-accent;
      padding-left: 3px;
    }
  }

  &__input {
    padding: 5px $gutter;
    color: $c-main-88;

    border: 1px solid #D9D9D9;
    border-radius: 6px;
    min-width: 337px;

    &:disabled {
      background-color: #0000000A;
    }

    &::placeholder {
      color: $c-main-45;
    }

    @media (max-width: $md) {
      min-width: 100%;
    }
  }

  &__footer-checkbox {
    margin-bottom: $gutter * 2;
  }

  &__btn {
    width: 100%;
    border-radius: 8px;

    &:disabled {
      border: 1px solid #D9D9D9;
      background-color: #0000000A;
      color: $c-main-25;
    }
  }
}
