.form {
  display: flex;
  flex-direction: column;

  &__top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $gutter * 12;

    @media (max-width: $xl) {
      grid-template-columns: 1fr;
      gap: $gutter * 6;
      align-self: center;
    }

    @media (max-width: $xl) {
      align-self: flex-start;
    }

    @media (max-width: $md) {
      width: 100%;
    }
  }

  &__bottom {
    display: grid;
    grid-template-columns: 1fr 549px;
    gap: $gutter * 3;

    padding-top: $gutter * 6;
    margin-top: $gutter * 6;
    border-top: 1px solid #D9D9D9;

    &--column {
      grid-template-columns: 1fr;
      align-self: start;
      gap: $gutter * 6;
      max-width: 552px;

      @media (max-width: $xl) {
        gap: $gutter * 3;
        max-width: 100%;
      }
    }

    @media (max-width: $xl) {
      grid-template-columns: 1fr;
      align-self: flex-start;
    }

    @media (max-width: $md) {
      width: 100%;
    }
  }

  &__column {
    @media (max-width: $xl) {
      min-width: 530px;
      width: 100%;
    }

    @media (max-width: $md) {
      min-width: auto;
    }
  }

  &__column + &__column {
    position: relative;

    @media (max-width: $xl) {
      padding-top: $gutter * 6;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: -$gutter * 6;
      background-color: #D9D9D9;
      width: 1px;
      height: 100%;

      @media (max-width: $xl) {
        width: 100%;
        height: 1px;
        left: 0;
      }
      }
  }

  &__title {
    margin-bottom: $gutter * 6;
  }

  &__wrapper-input {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: $gutter * 4;
    }

    @media (max-width: $md) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__label {
    color: $c-main-88;
    position: relative;
    margin-right: $gutter * 3;
    min-width: 200px;

    @media (max-width: $md) {
      padding-left: $gutter * 3;
      margin-bottom: $gutter * 2;
      min-width: 100%;
    }

    span {
      color: $c-accent;
      padding-left: $gutter;
    }
  }

  &__input {
    padding: $gutter $gutter * 3;
    color: $c-main-88;

    border: 1px solid #D9D9D9;
    border-radius: 6px;
    width: 100%;
    box-shadow: 0 2px 4px 0 #00000005;
    transition: border-color 0.2s ease;

    &:disabled {
      background-color: #0000000A;
    }

    &::placeholder {
      color: $c-main-45;
    }

    &:focus {
      border-color: $c-main-88;
    }

    @media (max-width: $md) {
      min-width: 100%;
    }
  }

  &__file {
    position: relative;

    border: 1px dashed #D9D9D9;
    background-color: #00000005;
    padding: $gutter * 4;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #0000000A;
    }
  }

  &__file-input {
    position: absolute;
    inset: 0;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
  }

  &__file-content {
    font-size: 14px;
    line-height: 22px;
    color: $c-main-25;
    pointer-events: none;
    text-align: center;
    display: inline-block;
  }

  &__btn {
    width: 100%;
    border-radius: 8px;
  }
}
