.form-number {
  $self: &;

  /* Chrome, Safari, Edge */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  $self: &;
  position: relative;

  &__input {
    padding-right: $gutter * 6;
  }

  &__increment,
  &__decrement {
    content: "";
    position: absolute;
    border-left: 1px solid #D9D9D9;
    z-index: 10;
    right: 1px;
    width: 22px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $c-main-45;
    background-color: $c-main-2;
    opacity: 0;

    @media (hover: hover) {
      #{$self}:hover & {
        opacity: 1;
      }
    }

    &:hover {
      background-color: $c-main-6;
      color: $c-main-65;
    }
  }

  &__increment {
    top: 1px;
    border-top-right-radius: inherit;
  }

  &__decrement {
    border-top: 1px solid #D9D9D9;
    border-bottom-right-radius: inherit;
    bottom: 1px;
  }

  &__ico {
    width: 7px;
    height: 7px;
  }
}
