.d-none {
  display: none;
}

@media (max-width: $xl) {
  .d-xl-block {
    display: block;
  }

  .d-xl-grid {
    display: grid;
  }

  .d-xl-none {
    display: none;
  }
}

@media (max-width: $lg) {
  .d-lg-none {
    display: none;
  }

  .d-lg-grid {
    display: grid;
  }
}

@media (max-width: $md) {
  .d-md-block {
    display: block;
  }

  .d-md-flex {
    display: flex;
  }

  .d-md-none {
    display: none;
  }
}

@media (max-width: $sm) {
  .d-sm-none {
    display: none;
  }
}
