.d-none {
  display: none;
}

@media (max-width: $xl) {
  .d-xl-block {
    display: block;
  }

  .d-xl-none {
    display: none;
  }
}

@media (max-width: $md) {
  .d-md-block {
    display: block;
  }

  .d-md-none {
    display: none;
  }
}
