body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  padding-top: 128px;

  font-weight: 400;
  font-size: $fz-main;
  line-height: 22px;
  font-family: $ff-main;
  color: $c-main;

  @media (max-width: $md) {
    padding-top: 92px;
  }

  &.fixed {
    overflow: hidden;
  }
}

.main {
  flex-grow: 1;
  padding-top: $gutter * 12;
  padding-bottom: $gutter * 12;
  display: grid;
  align-content: start;
  gap: $gutter * 12;

  & > * {
    min-width: 0;
  }

  @media (max-width: $lg) {
    padding-top: $gutter * 6;
    padding-bottom: $gutter * 6;
    gap: $gutter * 6;
  }

  &--mt {
    margin-top: -128px;
    padding-top: 0;

    @media (max-width: $lg) {
      padding-top: 0;
    }
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

// input auto-complete change color
:-webkit-autofill {
  box-shadow: 0 0 100px #fff inset;

  -webkit-text-fill-color: currentColor;
}
