// //////////////////////////////////////// font-family
$ff-main: "Inter", sans-serif;

// //////////////////////////////////////// font-size
$fz-main: 14px;

// //////////////////////////////////////// colors
$c-dark: #141414;
$c-main: #030B15;
$c-main-88: #000000E0;
$c-main-65: #000000A5;
$c-main-45: #00000073;
$c-main-25: #00000040;
$c-main-15: #00000027;
$c-main-6: #0000000F;
$c-main-2: #00000005;

$c-accent: #1677FF;
$c-accent-dark: #0958D9;
$c-accent-light: #E6F4FF;

$c-gray: #F0F0F0;

$c-light: #F5F5F5;
$c-light-80: #FFFFFFCC;
$c-light-65: #FFFFFFA6;
$c-light-30: #FFFFFF4D;
$c-light-20: #FFFFFF33;
$c-light-10: #FFFFFF19;

$c-text-accent: #52C41A;
$c-text-bad: #FF4D4F;
$c-bad: #FFF2F0;

// статусы
$c-status: #E6F4FF;
$c-status-rejected: #FF4D4F;
$c-status-shipped: #00000073;
$c-status-delayed: #FFF1B8;
$c-status-issued: #00000040;
$c-status-return-review: #FFADD2;
$c-status-shortage: #FFC069;
$c-status-rejected-insufficient: #F759AB;
$c-status-return-sent: #ADC6FF;
$c-status-incoming: #73D13D;
$c-status-return-completed: #5CDBD3;
$c-status-arrived: #BAE637;
$c-status-processing: #B37FEB;

// статусы возврата
$c-return-status-1: #52C41A;
$c-return-status-1-hover: #95DE64;
$c-return-status-2: #FAAD14;
$c-return-status-2-hover: #FFD666;

// //////////////////////////////////////// breakpoints
$xl: 1199.98px;
$lg: 991.98px;
$md: 767.98px;
$sm: 575.98px;
$xs: 425.98px;
$ss: 359.98px;

$gutter: 4px;

//// //////////////////////////////////////// grid
//.row {
//  display: flex;
//  flex-wrap: wrap;
//  margin: 0 -$gutter * 2 !important;
//}
//
//.col {
//  margin: 0 15px;
//}

$c-12: calc(100% - #{$gutter});
$c-11: calc(91.666667% - #{$gutter});
$c-10: calc(83.333333% - #{$gutter});
$c-9: calc(75% - #{$gutter});
$c-8: calc(66.666667% - #{$gutter});
$c-7: calc(58.333333% - #{$gutter});
$c-6: calc(50% - #{$gutter});
$c-5: calc(41.666667% - #{$gutter});
$c-4: calc(33.333333% - #{$gutter});
$c-3: calc(25% - #{$gutter});
$c-2: calc(16.666667% - #{$gutter});
$c-1: calc(8.333333% - #{$gutter});
