// //////////////////////////////////////// font-family
$ff-main: "Inter", sans-serif;

// //////////////////////////////////////// font-size
$fz-main: 14px;

// //////////////////////////////////////// bg-colors
$bg-main: #F5F5F5;
$bg-secondary: hsla(0, 0%, 0%, 0.45);
$bg-accent: hsla(215, 100%, 54%, 1);

// //////////////////////////////////////// colors
$c-main: #030B15;
$c-main-88: #000000E0;
$c-main-45: #00000073;
$c-accent: #1677FF;

// //////////////////////////////////////// breakpoints
$xl: 1199.98px;
$lg: 991.98px;
$md: 767.98px;
$sm: 575.98px;
$xs: 425.98px;
$ss: 359.98px;

$gutter: 12px;

//// //////////////////////////////////////// grid
//.row {
//  display: flex;
//  flex-wrap: wrap;
//  margin: 0 -$gutter * 2 !important;
//}
//
//.col {
//  margin: 0 15px;
//}

$c-12: calc(100% - #{$gutter});
$c-11: calc(91.666667% - #{$gutter});
$c-10: calc(83.333333% - #{$gutter});
$c-9: calc(75% - #{$gutter});
$c-8: calc(66.666667% - #{$gutter});
$c-7: calc(58.333333% - #{$gutter});
$c-6: calc(50% - #{$gutter});
$c-5: calc(41.666667% - #{$gutter});
$c-4: calc(33.333333% - #{$gutter});
$c-3: calc(25% - #{$gutter});
$c-2: calc(16.666667% - #{$gutter});
$c-1: calc(8.333333% - #{$gutter});
