.body {
  background-color: #000;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background: #111C2CD9 top center no-repeat url("../img/background/car-auto-service-v3.jpg");
    background-size: 100%;
  }

  > * {
    z-index: 1;
  }
}
