.contact-link {
  $self: &;
  display: flex;
  align-items: center;
  min-height: 24px;

  &__ico {
    width: 12px;
    height: 12px;
    margin-right: $gutter * 2;
    color: $c-main;
    opacity: 0.45;
    transition: opacity 0.2s;

    #{$self}--light & {
      color: #fff;
    }

    @media (hover: hover) {
      #{$self}:hover & {
        opacity: 1;
      }
    }
  }

  &__label {
    font-size: 12px;
    line-height: 20px;
  }

  &--has-divider {
    padding-right: $gutter * 4;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }
}
