.drawer {
  &__content {
    width: 400px;
    display: flex;
    flex-direction: column;

    .modal__inner--open-left & {
      border-top-right-radius: 16px;
      border-bottom-right-radius: 16px;
    }

    .modal__inner--open-right & {
      border-top-left-radius: 16px;
      border-bottom-left-radius: 16px;
    }


    @media (max-width: $md) {
      width: 90%;
    }
  }

  &__header {
    padding: $gutter * 5 $gutter * 6 $gutter * 3 $gutter * 14;

    border-bottom: 1px solid $c-main-6;

    @media (max-width: $md) {
      padding: $gutter * 4 $gutter * 4 $gutter * 3 $gutter * 10;
    }
  }

  &__info {
    display: grid;
    gap: $gutter * 6;
    padding: $gutter * 6;

    @media (max-width: $md) {
      padding: $gutter * 3;
    }
  }

  &__info-blocks {
    display: grid;
    gap: $gutter * 2;

    @media (max-width: $md) {
      gap: $gutter;
    }
  }

  &__info-block {
    background-color: $c-light;
    padding: $gutter * 4;
    border-radius: 8px;

    display: grid;
    gap: $gutter * 2;

    @media (max-width: $md) {
      padding: $gutter * 3;
    }
  }

  &__info-text {
    font-size: 14px;
    line-height: 22px;
    color: $c-main;

    &--light {
      color: $c-main-45;
    }
  }

  &__btn {
    width: 100%;
  }

  &__form {
    display: grid;
    gap: $gutter * 3;
  }

  &__wrapper-input {
    display: grid;
    gap: $gutter * 2;

    @media (max-width: $md) {
      gap: 0;
    }
  }

  &__footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $gutter * 4;
  }

  &__radio-actions {
    padding-bottom: $gutter * 3;
    border-bottom: 1px solid $c-main-6;
  }

  &__form-content {
    display: grid;
    gap: $gutter * 3;
  }

  &__form-container {
    display: grid;
    gap: $gutter * 3;
    background-color: $c-light;
    border-radius: 8px;
    padding: $gutter * 3;
  }

  &__contacts {
    display: grid;
    gap: $gutter;
    padding: $gutter * 3;
  }

  &__contacts-title {
    font-weight: 600;
    color: $c-main-65;
    border-top: 1px solid $c-main-6;
    padding-top: $gutter;
  }
}
