.pagination {
  display: grid;
  grid-auto-flow: column;
  gap: $gutter * 4;
  align-items: center;

  &__info {
    @media (max-width: 374px) {
      display: none;
    }
  }

  &__actions {
    display: grid;
    grid-auto-flow: column;
    column-gap: $gutter * 2;
    align-items: center;
  }

  &__control,
  &__page {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    transition: background-color .2s;
    border: 1px solid transparent;
  }

  &__page {
    $self: &;

    &:hover:not(#{$self}--current) {
      background-color: $c-main-6;
    }

    &--current {
      border-color: $c-accent;
      color: $c-accent;
      font-weight: 600;
    }
  }

  &__control {
    $self: &;
    cursor: pointer;
    color: $c-main-88;

    &:hover:not(#{$self}--disabled) {
      background-color: $c-main-6;
    }

    &--disabled {
      cursor: not-allowed;
      color: $c-main-15;

      #{$self}:hover & {
        background-color: $c-main-6;
      }
    }

    svg {
      width: 14px;
      height: 14px;
    }
  }

  &__option {
    width: 130px;

    @media (max-width: $sm) {
      display: none;
    }
  }
}
