.footer {
  background-color: $c-light;


  &__top {
    padding-top: $gutter * 4;
    padding-bottom: 16px;
  }

  &__bottom {
    padding-top: 16px;
    padding-bottom: 16px;
    border-top: 1px solid $c-main-6;
    transition: border-color .2s;

    p {
      color: $c-main-45;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr repeat(3, 216px);
    gap: $gutter * 2;
    justify-items: start;
  }
}
