.select {
  $self: &;

  position: relative;
  width: 100%;

  &__text {
    font-size: 14px;
    line-height: 22px;
    color: $c-main-45;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &--active {
      color: $c-main-88;
    }
  }

  &__ico {
    justify-self: end;

    svg {
      width: 16px;
      height: 16px;
      fill: $c-main-25;
      transition: transform .2s;
    }

    #{$self}--active &--rotate {
      svg {
        transform: rotate(-180deg);
      }
    }
  }

  &__button {
    display: grid;
    grid-auto-flow: column;
    gap: $gutter * 2;
    align-items: center;
  }

  &__list {
    padding: $gutter;

    width: calc(100% + 2px);
    position: absolute;
    top: 35px;
    left: -1px;

    z-index: 1;

    border-radius: 6px;
    border: 1px solid #D9D9D9;
    background-color: #fff;

    opacity: 0;
    transform: scaleY(0.8);
    transform-origin: top;
    transition: opacity 0.15s linear, transform 0.15s linear;
    pointer-events: none;

    &--visible {
      opacity: 1;
      transform: scaleY(1);
      pointer-events: auto;
    }
  }

  &__item {
    display: block;
    width: 100%;

    padding: $gutter $gutter * 3;

    text-align: left;
    cursor: pointer;
    transition: background-color .2s;
    border-radius: 4px;

    &:hover {
      background-color: $c-light;
    }

    &--active {
      background-color: $c-light;
    }

    &--selected {
      background-color: $c-accent-light;
      font-weight: 600;
      position: relative;

      #{$self}--multiple &::after {
        content: "";
        display: block;
        position: absolute;
        right: 6px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background: url("../img/icon/check-solid.svg") no-repeat 50%;
      }

      &:hover {
        background-color: $c-accent-light;
      }
    }

    &--active + &--active {
      &::before {
        content: "";
        position: absolute;
        top: -4px;
        left: 0;
        height: 8px;
        width: 100%;
        background-color: $c-accent-light;
        pointer-events: none;
      }
    }
  }

  &__empty {
    padding: $gutter $gutter * 3;
  }

  &__search {
    display: flex;
    align-items: center;
  }

  &__input {
    flex-grow: 1;
  }
}
