.select {
  $self: &;

  position: relative;

  &__button {
    width: 100%;
    position: relative;
  }

  &__ico {
    position: absolute;
    top: 50%;
    right: 0;
    width: 16px;
    height: 16px;
    transform: translateY(-50%);

    svg {
      fill: $c-main-25;
      transition: transform .2s;

      #{$self}--active & {
        transform: rotate(-180deg);
      }
    }
  }

  &__list {
    display: none;

    width: 100%;
    position: absolute;
    top: 33px;
    left: 0;

    overflow: hidden;
    z-index: 1;

    border-radius: 6px;
    border: 1px solid #D9D9D9;
    background-color: #fff;

    &--visible {
      display: block;
    }
  }

  &__item {
    display: block;
    width: 100%;

    padding: 5px $gutter;

    text-align: left;
    cursor: pointer;
    transition: background-color .2s;

    &:hover {
      background-color: $bg-main;
    }
  }

  &__input-hidden {
    display: none;
  }
}
