.select {
  $self: &;

  position: relative;

  &__button {
    width: 100%;
    position: relative;
  }

  &__ico {
    position: absolute;
    top: 50%;
    right: 0;
    width: 16px;
    height: 16px;
    transform: translateY(-50%);

    svg {
      fill: $c-main-25;
      transition: transform .2s;

      #{$self}--active & {
        transform: rotate(-180deg);
      }
    }
  }

  &__list {
    display: none;
    padding: $gutter;

    width: calc(100% + 2px);
    position: absolute;
    top: 30px;
    left: -1px;

    overflow: hidden;
    z-index: 1;

    border-radius: 6px;
    border: 1px solid #D9D9D9;
    background-color: #fff;

    &--visible {
      display: block;
    }
  }

  &__item {
    display: block;
    width: 100%;

    padding: $gutter $gutter * 3;

    text-align: left;
    cursor: pointer;
    transition: background-color .2s;
    border-radius: 4px;

    &:hover {
      background-color: $c-light;
    }

    &--active {
      background-color: #E6F4FF;
      font-weight: 600;
      position: relative;

      #{$self}--multiple &::after {
        content: "";
        display: block;
        position: absolute;
        right: 6px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background: url("../img/icon/check-solid.svg") no-repeat 50%;
      }

      &:hover {
        background-color: #E6F4FF;
      }
    }

    &--active + &--active {
      &::before {
        content: "";
        position: absolute;
        top: -4px;
        left: 0;
        height: 8px;
        width: 100%;
        background-color: #E6F4FF;
        pointer-events: none;
      }
    }
  }

  &__input-hidden {
    display: none;
  }
}
