.modal {
  $self: &;

  position: fixed;
  inset: 0;
  z-index: 1000;

  width: 100%;
  height: 100dvh;
  overflow: hidden;

  background: #0A1A31BF;
  visibility: hidden;
  opacity: 0;

  transition: all .4s ease 0s;

  &--open {
    visibility: visible;
    opacity: 1;
  }

  &--open .modal__inner {
    opacity: 1;
    transform: translate(0, 0);
  }

  &__inner {
    height: 100dvh;
    opacity: 1;

    display: flex;
    justify-content: center;
    transition: all .4s ease 0s;

    &--open-top {
      transform: translate(0, -100%);
      align-items: center;
      padding: $gutter * 3;
    }

    &--open-right {
      justify-content: flex-end;
      transform: translate(100%, 0);
    }

    &--open-left {
      justify-content: flex-start;
      transform: translate(-100%, 0);
    }
  }

  &__content {
    position: relative;
    background-color: #fff;
    overflow-y: auto;

    &--radius {
      border-radius: 16px;
      width: var(--modal-width, 434px);
    }

    #{$self}--wide & {
      width: 520px;
    }
  }

  &__close {
    position: absolute;
    top: 20px;

    width: 22px;
    height: 22px;

    display: flex;
    align-items: center;
    justify-content: center;

    &:focus {
      border: 1px solid $c-gray;
    }

    &--right {
      right: 20px;
    }

    &--left {
      left: 20px;

      @media (max-width: $md) {
        left: 12px;
      }
    }

    svg {
      width: 16px;
      height: 16px;
      fill: $c-main-45;
      transition: scale .2s;

      &:hover {
        scale: 1.2;
      }
    }

    @media (max-width: $md) {
      top: 16px;
    }
  }

  &__header {
    display: grid;
    gap: $gutter * 2;
    padding: $gutter * 5 $gutter * 6 $gutter * 3;

    border-bottom: 1px solid $c-main-6;
  }

  &__wrapper {
    display: grid;
    gap: $gutter * 6;
    padding: $gutter * 3 $gutter * 6 $gutter * 6;
  }

  &__form {
    display: grid;
    gap: $gutter * 4;

    @media (max-width: $md) {
      gap: $gutter * 3;
    }
  }

  &__wrapper-input-login {
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 12px;
      width: 16px;
      height: 16px;
      background: url("../img/icon/auth-user.svg") no-repeat 50%;
    }
  }

  &__wrapper-input-password {
    position: relative;
  }

  &__input-password {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
  }

  &__input {
    padding-left: $gutter * 9;
  }

  &__fields-row {
    display: flex;
    justify-content: space-between;

    @media (max-width: $md) {
      flex-direction: column;
    }
  }

  &__fields-item {
    font-size: 14px;
    line-height: 22px;
    color: $c-accent;
    transition: color .2s;

    &:hover {
      color: $c-accent-dark;
    }

    @media (max-width: $md) {
      margin-top: $gutter * 2;
    }
  }

  &__footer {
    display: grid;
    align-items: center;
    gap: $gutter;

    &--row {
      grid-auto-flow: column;
      justify-self: end;
      gap: $gutter * 4;
    }
  }

  &__link {
    font-size: 12px;
    line-height: 20px;
    color: $c-accent;
    transition: color .2s;
    justify-self: center;

    &:hover {
      color: $c-accent-dark;
    }
  }
}
