.header-v1 {
  position: absolute;
  z-index: 200;
  top: 0;
  left: 0;
  right: 0;
  transition: transform .2s;
  transform: translateY(0);

  &--is-fixed-hidden {
    @media (max-width: $md) {
      position: fixed;
      transform: translateY(-100%);
      opacity: 0;
    }
  }

  &--is-fixed-visible {
    @media (max-width: $md) {
      position: fixed;
      transform: translateY(0);
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
    }
  }

  &__top {
    background-color: #fff;
  }

  &__container {
    min-height: 64px;
    display: flex;
    align-items: center;

    @media (max-width: $md) {
      min-height: 46px;
    }
  }

  &__top-contacts {
    margin-left: auto;
    display: grid;
    grid-auto-flow: column;
    column-gap: $gutter * 4;

    @media (max-width: $md) {
      display: none;
    }
  }

  &__top-actions {
    display: none;

    @media (max-width: $md) {
      margin-left: auto;
      display: grid;
      grid-auto-flow: column;
      column-gap: $gutter * 1.5;
    }
  }

  &__bottom {
    background-color: $c-dark;
  }

  &__search {
    max-width: 696px;
    width: 100%;
    margin-right: $gutter * 6;

    @media (max-width: $md) {
      margin-right: $gutter * 2;
      max-width: 100%;
    }
  }

  &__bottom-actions {
    margin-left: auto;
    flex-shrink: 0;
  }
}

.header-v1-search {
  $self: &;
  border-radius: 8px;
  position: relative;
  min-height: 32px;
  display: flex;

  &__dropdown {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    min-width: 110px;

    @media (max-width: $lg) {
      min-width: 32px;
    }
  }

  &__form {
    display: contents;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
  }

  &__input {
    flex-grow: 1;
    background-color: #fff;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    padding-left: $gutter * 2;
    padding-right: $gutter * 10;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &::placeholder {
      color: $c-main-45;
    }
  }

  &__btn {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__btn-ico {
    width: 16px;
    height: 16px;
    color: $c-main;
    opacity: 0.45;
    transition: opacity 0.2s;

    #{$self}__btn:hover & {
      opacity: 1;
    }
  }
}

// todo: Саше переименовать классы и объединить стили дропдаунов
.header-v1-search-dropdown {
  $self: &;

  &__toggle {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $c-accent;
    width: 100%;
    padding: $gutter $gutter * 3;
    transition: background-color 0.2s;

    @media (max-width: $lg) {
      min-width: 32px;
      padding-left: $gutter;
      padding-right: $gutter;
    }

    #{$self}:hover & {
      background-color: $c-accent-dark;
    }
  }

  &__ico {
    width: 16px;
    height: 16px;
    color: #fff;
  }

  &__label {
    color: #fff;
    margin-left: $gutter * 2;

    @media (max-width: $lg) {
      display: none;
    }
  }

  &__menu {
    left: 0;
    pointer-events: none;

    #{$self}:hover & {
      opacity: 1;
      pointer-events: visible;
      visibility: visible;
      transform: translateY(0);
      transition:  opacity .2s ease, transform 0.2s ease, visibility 0s linear 0s;
    }
  }

  &__link {
    min-height: 32px;
    padding-left: $gutter * 3;
    padding-right: $gutter * 3;
    display: flex;
    align-items: center;
    color: $c-main-88;
    transition: background-color 0.2s;
    border-radius: 4px;

    &:hover {
      background-color: $c-light;
    }
  }
}

.header-v1-bottom-actions {
  display: grid;
  grid-auto-flow: column;
  column-gap: $gutter * 4;
  color: #fff;

  &__btn-divider {
    position: relative;
    margin-right: $gutter * 4;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: -$gutter * 4;
      width: 1px;
      background-color: $c-light-20;
    }
  }
}

.header-v1-btn {
  $self: &;
  min-width: 32px;
  min-height: 32px;
  display: grid;
  grid-auto-flow: column;
  column-gap: $gutter * 2;
  padding: $gutter var(--header-v1-btn-padding-x, $gutter * 4);
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  transition: background-color .2s;

  &--narrow {
    --header-v1-btn-padding-x: $gutter * 2;
  }

  &:hover {
    background-color: $c-light-20;
  }

  &--accent {
    background-color: $c-accent;

    &:hover {
      background-color: $c-accent-dark;
    }
  }

  &--gray {
    background-color: $c-light-20;

    &:hover {
      background-color: $c-light-30;
    }
  }

  &__ico {
    width: 16px;
    height: 16px;

    &--sm {
      width: 12px;
      height: 12px;
    }
  }
}

.header-v1-btn-wallet {
  @media (max-width: $lg) {
    --header-v1-btn-padding-x: #{$gutter * 2};
  }

  &__ico {
    display: none;

    @media (max-width: $lg) {
      display: block;
    }
  }

  &__caption {
    @media (max-width: $lg) {
      display: none;
    }
  }

  &__balance {
    font-weight: 700;
  }
}

.header-v1-user-dropdown {
  $self: &;
  position: relative;

  &__toggle {
    @media (max-width: $lg) {
      --header-v1-btn-padding-x: #{$gutter * 2};
    }

    #{$self}:hover & {
      background-color: $c-light-30;
    }
  }

  &__menu {
    right: 0;
    pointer-events: none;

    #{$self}:hover & {
      opacity: 1;
      pointer-events: visible;
      visibility: visible;
      transform: translateY(0);
      transition:  opacity .2s ease, transform 0.2s ease, visibility 0s linear 0s;
    }
  }
}

.header-v1-dropdown-menu {
  position: absolute;
  top: calc(100% + 4px);
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  border-radius: 8px;
  background-color: #fff;
  padding: $gutter;
  color: $c-main;
  min-width: 183px;
  transition: opacity .2s ease, transform .2s ease, visibility 0s linear .2s;
  transform: translateY(4px);
  box-shadow: 0 3px 6px 0 hsla(0, 0%, 0%, 0.12);

  &::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    height: 4px;
  }

  &__link {
    min-height: 32px;
    padding-left: $gutter * 3;
    padding-right: $gutter * 3;
    display: flex;
    align-items: center;
    color: $c-main-88;
    transition: background-color 0.2s;
    border-radius: 4px;

    @media (hover: hover) {
      &:hover {
        background-color: $c-light;
      }
    }

    &:active {
      background-color: $c-light;
    }

    &--logout {
      margin-top: $gutter * 3;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: -$gutter * 1.5;
        height: 1px;
        left: 0;
        right: 0;
        background-color: $c-main-6;
      }
    }
  }

  &__ico {
    width: 16px;
    height: 16px;
    margin-right: $gutter * 2;
  }
}
