//Todo: Саше Есть конпка в дровере recharge, она тег а,
//т.к. ведет на сторону, она должна быть disabled,
//нужен класс, а не тег disabled

.btn {
  $self: &;

  background-color: $c-accent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $gutter * 2 $gutter * 4;
  transition: .2s;

  font-size: 16px;
  line-height: 24px;
  color: #fff;
  border-radius: 6px;
  min-height: 40px;

  &:not(#{$self}--disabled):not(:disabled):is(:hover, :active) {
    background-color: $c-accent-dark;
  }

  &:disabled,
  &--disabled {
    border: 1px solid #D9D9D9;
    background-color: #0000000A;
    color: $c-main-45;
  }

  &--size-s {
    min-height: 32px;
    font-size: 14px;
    line-height: 22px;
    padding: $gutter $gutter * 4;
  }

  &--size-xs {
    min-height: 24px;
    font-size: 14px;
    line-height: 22px;
    padding: $gutter $gutter * 4;
  }

  @media (max-width: $md) {
    padding: $gutter $gutter * 2;
    min-height: 32px;
  }
}
