.btn-text {
  $self: &;

  min-height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 $gutter * 2;
  border-radius: 4px;
  transition: .2s;

  font-size: 14px;
  line-height: 22px;

  &[disabled] {
    color: $c-main-45;
  }

  &--theme-default {
    color: $c-main-88;

    &:hover {
      background-color: $c-main-6;
    }
  }

  &--theme-danger {
    color: $c-text-bad;

    &:hover {
      background-color: $c-bad;
    }
  }

  &--theme-accent {
    color: $c-accent;
    border: 1px solid $c-accent;

    &:hover {
      background-color: $c-accent-dark;
      color: #fff;

      #{$self}__ico {
        fill: #fff;
      }
    }

    #{$self}__ico {
      fill: $c-accent;
    }
  }

  &__ico {
    width: 16px;
    height: 16px;
    margin-right: $gutter * 2;

    @media (max-width: $lg) {
      margin-right: 0;
    }
  }
}
