.btn-light {
  $self: &;

  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $gutter * 0.5;
  border-radius: 4px;
  transition: background-color .2s;
  cursor: pointer;

  &__ico {
    width: 14px;
    height: 14px;
    fill: var(--btn-light-ico-fill , $c-main-88);
  }

  &:hover {
    background-color: $c-main-6;
  }

  &--size-l {
    width: 32px;
    height: 32px;

    #{$self}__ico {
      width: 16px;
      height: 16px;
      fill: $c-main-88;
    }
  }
}
