.btn {
  $self: &;
  display: inline-grid;
  column-gap: $gutter * 2;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  transition: background-color .2s, color .2s, border-color .2s;
  border-radius: 6px;
  line-height: 1.2;
  position: relative;
  text-align: center;

  &--filled {
    &#{$self}--theme-primary {
      background-color: $c-accent;
      color: #fff;

      @media (hover: hover) {
        &:not(#{$self}--disabled):not(:disabled):is(:hover) {
          background-color: $c-accent-dark;
        }

        &:not(#{$self}--disabled):not(:disabled):is(:active) {
          background-color: #084ec5;
        }
      }

      &:not(#{$self}--disabled):not(:disabled):is(:active) {
        background-color: #084ec5;
      }
    }

    &#{$self}--theme-secondary {
      background-color: $c-light-20;
      color: #fff;

      @media (hover: hover) {
        &:not(#{$self}--disabled):not(:disabled):is(:hover) {
          background-color: $c-light-30;
        }

        &:not(#{$self}--disabled):not(:disabled):is(:active) {
          background-color: #FFFFFF66;
        }
      }

      &:not(#{$self}--disabled):not(:disabled):is(:active) {
        background-color: #FFFFFF66;
      }
    }

    &#{$self}--theme-light {
      color: #fff;

      @media (hover: hover) {
        &:not(#{$self}--disabled):not(:disabled):is(:hover) {
          background-color: $c-light-20;
        }

        &:not(#{$self}--disabled):not(:disabled):is(:active) {
          background-color: $c-light-30;
        }
      }

      &:not(#{$self}--disabled):not(:disabled):is(:active) {
        background-color: $c-light-30;
      }
    }
  }

  &--outlined {
    border-width: 1px;
    border-style: solid;

    &#{$self}--theme-primary {
      color: $c-accent;
      border: 1px solid $c-accent;

      @media (hover: hover) {
        &:not(#{$self}--disabled):not(:disabled):is(:hover) {
          color: $c-light;
          background-color: $c-accent;
        }

        &:not(#{$self}--disabled):not(:disabled):is(:active) {
          background-color: $c-accent-dark;
        }
      }

      &:not(#{$self}--disabled):not(:disabled):is(:active) {
        background-color: $c-accent-dark;
      }
    }

    &#{$self}--theme-secondary {
      border-color: $c-main-25;
      color: $c-main-88;

      @media (hover: hover) {
        &:not(#{$self}--disabled):not(:disabled):is(:hover) {
          border-color: $c-main-45;
          background-color: $c-main-6;
        }

        &:not(#{$self}--disabled):not(:disabled):is(:active) {
          border-color: $c-main-65;
          background-color: $c-main-15;
        }
      }

      &:not(#{$self}--disabled):not(:disabled):is(:active) {
        border-color: $c-main-65;
        background-color: $c-main-15;
      }
    }
  }

  &--size-l {
    min-height: 40px;
    min-width: 40px;
    padding: $gutter var(--btn-padding-x, $gutter * 4);
    font-size: 16px;

    #{$self}__ico {
      width: 16px;
      height: 16px;
    }
  }

  &--size-m {
    min-height: 32px;
    min-width: 32px;
    padding: $gutter var(--btn-padding-x, $gutter * 4);
    font-size: 14px;

    &#{$self}--compact {
      --btn-padding-x: #{$gutter};
    }

    #{$self}__ico {
      width: 16px;
      height: 16px;

      &--sm {
        width: 12px;
        height: 12px;
      }
    }
  }

  &--size-s {
    min-height: 24px;
    min-width: 24px;
    font-size: 14px;
    padding: $gutter * 0.5 var(--btn-padding-x, $gutter * 2);
    border-radius: 4px;

    #{$self}__ico {
      width: 16px;
      height: 16px;
    }
  }

  &:disabled,
  &--disabled {
    border: 1px solid #D9D9D9;
    background-color: $c-light !important;
    color: #B8B8B8 !important;
  }

  &__badge {
    position: absolute;
    top: -4px;
    right: -4px;
  }
}

