.btn {
  @extend .btn-reset;

  background-color: $c-accent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $gutter * 2 $gutter * 4;
  transition: .2s;

  font-size: 16px;
  line-height: 24px;
  color: #fff;

  &:hover,
  &:active {
    background-color: $c-accent-dark;
  }

  &--size-s {
    font-size: 14px;
    line-height: 22px;
    padding: $gutter $gutter * 4;
  }

  @media (max-width: $md) {
    padding: $gutter;
  }
}

.btn-primary {
  @extend .btn-reset;

  background-color: #fff;
  border: 1px solid $c-main-25;
  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: $gutter $gutter * 3;
  transition: .2s;

  font-size: 14px;
  line-height: 22px;
  color: $c-main-88;

  &:hover,
  &:active {
    border: 1px solid $c-main-45;
  }

  @media (max-width: $md) {
    padding: $gutter;
  }
}
