.link {
  $self: &;
  color: $c-main-88;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    transition: opacity .2s;
    width: 100%;
    height: 1px;
    box-shadow: inset 0 -1px 0 0 $c-main-88;
    opacity: 0;
  }

  &:hover#{$self}::after {
    opacity: 1;
  }

  &--light {
    color: $c-main-45;

    &#{$self}::after {
      box-shadow: inset 0 -1px 0 0 $c-main-45;
    }
  }

  &--blue {
    color: $c-accent;

    &#{$self}::after {
      box-shadow: inset 0 -1px 0 0 $c-accent;
    }
  }
}
